openapi: 3.2.0
info:
  title: BanQu Public Profiles API
  version: 3.3.4
  description: The BanQu API is organized around [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer). Our API is designed to have predictable, resource-oriented URLs and to use HTTP response codes to indicate API errors. We use built-in HTTP features, like HTTP verbs, which can be understood by off-the-shelf HTTP clients, and [JSON](http://www.json.org) for input and output.
servers:
- url: https://banqu.app:443/api/v1
security:
- Bearer: []
tags:
- name: Public Profiles
paths:
  /shared-profile/{ownerId}:
    parameters:
    - name: ownerId
      description: User or Org account ID
      in: path
      schema:
        type: string
      required: true
    get:
      security: []
      tags:
      - Public Profiles
      description: Get public profile
      responses:
        '200':
          description: An user or organization profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExistentProfile'
        '404':
          $ref: '#/components/responses/404'
  /shared-profile/{ownerId}/forms:
    parameters:
    - name: ownerId
      description: User or Org account ID
      in: path
      schema:
        type: string
      required: true
    get:
      security: []
      description: Get forms describing shared profile sections
      tags:
      - Public Profiles
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Form'
        '404':
          $ref: '#/components/responses/404'
  /shared-profile/{ownerId}/related-data-entries:
    parameters:
    - name: ownerId
      description: User or Org account ID
      in: path
      schema:
        type: string
      required: true
    get:
      security: []
      description: Get data entries related to the profile
      tags:
      - Public Profiles
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/SortBy'
      - name: status
        in: query
        schema:
          type: string
          enum:
          - all
          - pending
          - submitted
          - reviewed
          - rejected
          - approved
          - denied
          - archived
        description: Data entry status filter
        required: false
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FormDataEntry'
  /shared-profile/{ownerId}/geo-data:
    parameters:
    - name: ownerId
      description: User or Org account ID
      in: path
      schema:
        type: string
      required: true
    get:
      description: Get GeoJSON data from related Data Entries and Profile Forms
      tags:
      - Public Profiles
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - all
          - pending
          - submitted
          - reviewed
          - rejected
          - approved
          - denied
          - archived
        description: Data entry status filter
        required: false
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoJsonFeatureCollection'
  /shared-profile/{ownerId}/connections:
    get:
      security: []
      tags:
      - Public Profiles
      description: List public profile connections
      parameters:
      - name: ownerId
        description: User or Org id
        in: path
        schema:
          type: string
        required: true
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/SortBy'
      responses:
        '200':
          description: Public profile connections
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Connection'
        '404':
          $ref: '#/components/responses/404'
  /shared-profile/{ownerId}/assets:
    parameters:
    - name: ownerId
      description: User or Org account ID
      in: path
      schema:
        type: string
      required: true
    get:
      security: []
      tags:
      - Public Profiles
      description: List public profile assets
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/SortBy'
      responses:
        '200':
          description: Get shared assets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SharedAssets'
  /shared-profile/{ownerId}/transactions:
    parameters:
    - name: ownerId
      description: User or Org account ID
      in: path
      schema:
        type: string
      required: true
    get:
      security: []
      tags:
      - Public Profiles
      description: List public profile transactions
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/SortBy'
      responses:
        '200':
          description: Get shared transactions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SharedTransaction'
        '404':
          $ref: '#/components/responses/404'
  /shared-profile/{ownerId}/transactions/{transactionId}/operations:
    parameters:
    - name: ownerId
      description: User or Org account ID
      in: path
      schema:
        type: string
      required: true
    - name: transactionId
      description: shared transactions ID
      in: path
      schema:
        type: string
      required: true
    get:
      security: []
      tags:
      - Public Profiles
      description: List public profile transaction operations
      responses:
        '200':
          description: Get shared transaction operations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SharedOperations'
        '404':
          $ref: '#/components/responses/404'
  /shared-profile/{ownerId}/requests:
    parameters:
    - name: ownerId
      description: User or Org account ID
      in: path
      schema:
        type: string
      required: true
    post:
      tags:
      - Public Profiles
      description: Send profile share request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                expiresAt:
                  $ref: '#/components/schemas/Timestamp'
                sections:
                  type: array
                  items:
                    type: string
                  uniqueItems: true
      responses:
        '201':
          $ref: '#/components/responses/201'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
  /shared-profile/{ownerId}/households:
    parameters:
    - name: ownerId
      description: User or Org account ID
      in: path
      schema:
        type: string
      required: true
    get:
      security: []
      description: List public profile households. If ownerId is a head of household result contains list of members including himself. If ownerId is dependent result contains all heads of households ownerId is member of
      tags:
      - Public Profiles
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShallowProfile'
        '404':
          $ref: '#/components/responses/404'
components:
  responses:
    '404':
      description: "HTTP 404 - Not Found \nRequested resource could not be found"
    '201':
      description: HTTP 201 - Created
      headers:
        Location:
          schema:
            type: string
          description: Url of the created entity
    '422':
      description: "HTTP 422 - Unprocessable Request \nThe server understands the content type of the request entity and the syntax of the request is correct, but was unable to process the contained instructions"
    '403':
      description: "HTTP 403 - Forbidden \nNot authorized to access selected resource"
  schemas:
    GeoJsonFeatureCollection:
      type: object
      properties:
        type:
          type: string
          enum:
          - FeatureCollection
        features:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - Feature
              geometry:
                $ref: '#/components/schemas/GeoJsonGeometryObject'
              properties:
                type: object
            required:
            - type
            - geometry
      required:
      - type
      - features
    Attachment:
      type: object
      additionalProperties: false
      properties:
        downloadUrl:
          type: string
          format: url
        fileName:
          type: string
          minLength: 1
        fileSize:
          type: number
          minimum: 0
        mimeType:
          type: string
          minLength: 1
          example: image/jpeg
        md5:
          type: string
          minLength: 32
          maxLength: 32
          pattern: ^[a-f0-9]{32}$
      required:
      - downloadUrl
    AssetDescription:
      type: string
      minLength: 0
      maxLength: 200
    ExistentProfile:
      allOf:
      - type: object
        properties:
          id:
            $ref: '#/components/schemas/ImmutableId'
      - $ref: '#/components/schemas/Profile'
      unevaluatedProperties: false
    SharedTransactionStats:
      type: object
      properties:
        incomingPending:
          type: string
        outgoingPending:
          type: string
    SharedTradeTransaction:
      type: object
      properties:
        id:
          type: string
        transactionId:
          type: string
        type:
          type: string
          enum:
          - trade
        isCredit:
          type: boolean
        receiver:
          $ref: '#/components/schemas/TransactionParty'
        sender:
          $ref: '#/components/schemas/TransactionParty'
        stats:
          $ref: '#/components/schemas/SharedTransactionStats'
        sent:
          type: number
        transfers:
          type: array
          items:
            type: string
        participants:
          type: array
          items:
            type: string
      required:
      - id
      - transactionId
      - type
      - isCredit
      - receiver
      - sender
      - sent
      - transfers
      - participants
    ProfilePhoto:
      allOf:
      - $ref: '#/components/schemas/ProfileProperty'
      - properties:
          etag:
            type: string
            minLength: 32
            maxLength: 32
            example: '00000000000000000000000000000000'
          value:
            type: string
            format: url
            example: https://example.com/avatar.jpg
    FormSection:
      title: Form Section
      type: object
      properties:
        $entityId:
          type: string
          description: Internal unique identifier for the section
        title:
          $ref: '#/components/schemas/OptionalLocalizedString'
        description:
          $ref: '#/components/schemas/OptionalLocalizedString'
        name:
          $ref: '#/components/schemas/JsonIdentifier'
        multiple:
          type: boolean
          description: If multiple instances of the section are allowed
        required:
          type: boolean
          description: If at least one of the section instances is required
        requiredIf:
          type: string
        visibleIf:
          type: string
        weight:
          type: number
          description: A numerical value representing the importance of this field in the overall score calculation. Higher values indicate greater importance.
        threshold:
          type: number
          minimum: 0
          description: A specific value that the score must meet or exceed for a particular action or decision to be triggered.
        layout:
          type: string
          description: Section markup layout
          enum:
          - horizontal
          - vertical
          - table
        fields:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/FormField'
            - $ref: '#/components/schemas/CheckboxField'
            - $ref: '#/components/schemas/FormFieldWithItems'
            - $ref: '#/components/schemas/FormMarkupElement'
            - $ref: '#/components/schemas/FragmentField'
        groupId:
          type: string
          description: Identifier of the group this section belongs to
        frozen:
          type: boolean
          readOnly: true
      required:
      - fields
    ReadWriteVisibility:
      type: string
      enum:
      - readonly
      - edit
    ImmutableId:
      type: string
      readOnly: true
      minLength: 32
      maxLength: 32
      example: '00000000000000000000000000000000'
    Form:
      type: object
      title: Form
      properties:
        id:
          $ref: '#/components/schemas/ImmutableId'
        title:
          $ref: '#/components/schemas/LocalizedString'
        version:
          type: number
          readOnly: true
          description: Form template age. It is increased on server side with every modification
        sharing:
          title: Form Type
          oneOf:
          - title: Transaction Properties Form
            type: object
            properties:
              level:
                type: string
                enum:
                - batch
              txTypes:
                description: The transaction types the form can be used for
                type: array
                items:
                  type: string
                  enum:
                  - batch
                  - transformation
                minItems: 1
                uniqueItems: true
            additionalProperties: false
          - title: Private Data Entry Form
            type: object
            properties:
              level:
                type: string
                enum:
                - private
            additionalProperties: false
          - title: Fragment Form
            type: object
            properties:
              level:
                type: string
                enum:
                - fragment
            additionalProperties: false
          - title: Shared Data Entry Form
            type: object
            properties:
              level:
                type: string
                enum:
                - shared
            additionalProperties: false
          - title: User Profile Form
            type: object
            properties:
              level:
                type: string
                enum:
                - replace
              profileSectionName:
                type: string
                pattern: ^(urn:banqu:schemas:[a-f\d]{32}:User:)?[a-zA-Z][\da-zA-Z]*$
                minLength: 1
              reportingSectionName:
                type: string
                pattern: ^(urn:banqu:schemas:[a-f\d]{32}:User:[a-zA-Z][\da-zA-Z]*)?$
              priority:
                type: number
                minimum: 0
              replaceProfileSections:
                type: array
                items:
                  type: string
              profileSectionNamePrefix:
                description: Used as a backdoor in API to be able to change a client form into a standard form
                type: string
                enum:
                - 'urn:banqu:schemas:scim:User:'
            additionalProperties: false
            required:
            - level
            - profileSectionName
          - title: Org Profile Form
            type: object
            properties:
              level:
                type: string
                enum:
                - org-profile
              profileSectionName:
                type: string
                pattern: ^(urn:banqu:schemas:[a-f\d]{32}:Org:)?[a-zA-Z][\da-zA-Z]*$
                minLength: 1
              profileSectionNamePrefix:
                description: Used as a backdoor in API to be able to change a client form into a standard form
                type: string
                enum:
                - 'urn:banqu:schemas:scim:Org:'
              priority:
                type: number
                minimum: 0
            additionalProperties: false
            required:
            - level
            - profileSectionName
          required:
          - level
        appearance:
          title: Form Appearance Settings
          type: object
          properties:
            collapsingType:
              type: string
              enum:
              - accordion
              - collapsed
              - expanded
            showScore:
              type: boolean
          additionalProperties: false
        usagePreferences:
          title: Data Entry Form Usage Preferences
          type: object
          properties:
            assign:
              type: boolean
              description: If true, the form can be assigned to connected identities
            navbarCreate:
              type: boolean
              description: If true, the form data entry can be created from the navbar
            identityCreate:
              type: boolean
              description: If true, the form data entry can be created from the connected identity page
          additionalProperties: false
        deletedFrozenFields:
          type: object
          readOnly: true
          description: A map containing all deleted frozen fields (available for restoration). Managed on serverside
        owner:
          $ref: '#/components/schemas/ImmutableId'
        sections:
          title: Form Sections
          type: array
          items:
            $ref: '#/components/schemas/FormSection'
        groups:
          title: Form Groups
          type: array
          items:
            $ref: '#/components/schemas/FormGroup'
        archived:
          type: boolean
          description: Indicates if form is archived
          readOnly: true
        thirdPartyValidation:
          type: boolean
          description: On profile forms indicates if the form data can be reviewed by a third-party contract specified in data entry
      required:
      - title
      - sections
      additionalProperties: false
      example:
        title:
          en: My Form
        version: 1
        sections:
        - title:
            en: Some List
          name: section1
          multiple: true
          required: true
          fields:
          - name: field1
            type: text
            title:
              en: Field Title
            required: true
            visibility:
              approver: readonly
              reviewer: hidden
              responder: edit
        sharing:
          level: shared
    FormField:
      title: Form Field
      type: object
      properties:
        $entityId:
          type: string
          description: Internal unique identifier for the field
        name:
          $ref: '#/components/schemas/JsonNestedIdentifier'
        type:
          type: string
          enum:
          - text
          - textarea
          - connectionSelect
          - assetSelect
          - countrySelect
          - currencySelect
          - dataEntrySelect
          - datetime
          - file
          - geoPosition
          - polygon
          - barcode
        title:
          $ref: '#/components/schemas/LocalizedString'
        placeholder:
          $ref: '#/components/schemas/OptionalLocalizedString'
        description:
          $ref: '#/components/schemas/OptionalLocalizedString'
        descriptionVariant:
          $ref: '#/components/schemas/DescriptionVariant'
        required:
          type: boolean
        validation:
          type: string
        parentFieldName:
          $ref: '#/components/schemas/ParentFieldName'
        visibility:
          $ref: '#/components/schemas/FormElementVisibility'
        format:
          type: string
          description: Format of 'datetime' field type
          enum:
          - date
          - time
          - date-time
        primary:
          type: boolean
          description: Whether field is a primary key or part of a primary key. Primary key values should be unique across multiple form data entries of a same user
        globalPrimary:
          type: boolean
          description: Whether field is a primary key or part of a primary key. Primary key values should be unique across multiple form data entries of a same user
        uniqueAcrossInstances:
          type: boolean
          description: Unique across section instances when form section is repeatable
        size:
          type: integer
          description: The number of slots preserved for the field in a table column
          minimum: 1
          maximum: 12
        displayTotals:
          type: boolean
          description: When enabled, the sum of all field values is displayed in the totals row on the UI
        weight:
          type: number
          description: A numerical value representing the importance of this field in the overall score calculation. Higher values indicate greater importance.
        isParent:
          type: boolean
          description: Mark the selected connection as a parent of the data entry
        connectionType:
          type: string
          description: Connection type to filter connections in the connection select field
          enum:
          - org
          - user
        importanceArea:
          $ref: '#/components/schemas/FormFieldImportance'
        frozen:
          type: boolean
          readOnly: true
        formula:
          type: string
          description: Formula for calculated mode of the field
      required:
      - name
      - type
      - title
    FormElementVisibility:
      oneOf:
      - type: object
        description: Data-entry or profile form field visibility
        required:
        - approver
        - reviewer
        - responder
        properties:
          approver:
            $ref: '#/components/schemas/ReadWriteVisibility'
          reviewer:
            $ref: '#/components/schemas/ReadWriteHideVisibility'
          responder:
            $ref: '#/components/schemas/ReadWriteHideVisibility'
        additionalProperties: false
      - type: object
        description: Transaction form field visibility
        required:
        - initiator
        - update-by-initiator
        - participant
        properties:
          update-by-initiator:
            $ref: '#/components/schemas/ReadWriteHideVisibility'
          participant:
            $ref: '#/components/schemas/ReadWriteHideVisibility'
          initiator:
            $ref: '#/components/schemas/ReadWriteHideVisibility'
        additionalProperties: false
    Connection:
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      - $ref: '#/components/schemas/Profile'
      - $ref: '#/components/schemas/ConnectionExtension'
      required:
      - id
    FormGroup:
      type: object
      properties:
        id:
          type: string
        title:
          $ref: '#/components/schemas/OptionalLocalizedString'
        parentId:
          type: string
          description: Identifier of the group this sub-group belongs to
        weight:
          type: number
          minimum: 0
          description: A numerical value representing the importance of this field in the overall score calculation. Higher values indicate greater importance.
        threshold:
          type: number
          minimum: 0
          description: A specific value that the score must meet or exceed for a particular action or decision to be triggered.
      additionalProperties: false
      required:
      - id
    SharedTransfer:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        code:
          $ref: '#/components/schemas/AssetCode'
        description:
          $ref: '#/components/schemas/AssetDescription'
        uom:
          $ref: '#/components/schemas/AssetUom'
        direction:
          type: string
          enum:
          - in
          - out
        received:
          type: number
        isCredit:
          type: boolean
        type:
          type: string
          enum:
          - transfer
        qty:
          type: number
        sent:
          type: number
        assetId:
          type: string
        sender:
          $ref: '#/components/schemas/TransactionParty'
        receiver:
          $ref: '#/components/schemas/TransactionParty'
      required:
      - id
      - direction
      - received
      - uom
      - code
      - isCredit
      - type
      - qty
      - sent
      - assetId
      - sender
      - receiver
    ProfileEmail:
      oneOf:
      - allOf:
        - $ref: '#/components/schemas/ProfileProperty'
        - properties:
            value:
              type: string
              format: email
              example: user@example.com
      - type: string
        format: email
        minLength: 1
        example: user@example.com
    SharedBatchTransaction:
      type: object
      properties:
        id:
          type: string
        transactionId:
          type: string
        isCredit:
          type: boolean
        type:
          type: string
          enum:
          - batch
        sent:
          type: number
        sender:
          $ref: '#/components/schemas/TransactionParty'
        receiver:
          $ref: '#/components/schemas/TransactionParty'
        transfers:
          type: array
          items:
            type: string
        stats:
          $ref: '#/components/schemas/SharedTransactionStats'
      required:
      - id
      - transactionId
      - isCredit
      - type
      - sent
      - sender
      - receiver
      - transfers
      - stats
    ParentFieldName:
      type: string
      pattern: ^[a-zA-Z_][\da-zA-Z_]*(\[\]\.([a-zA-Z_][\da-zA-Z_]*))?(\.([a-zA-Z_][\da-zA-Z_]*|\d+))*$
      description: Name of a parent field whose selected value filters options in this field. E.g., selecting a connection filters related data entries
    DescriptionVariant:
      type: string
      enum:
      - text
      - tooltip
      - long-text
    ProfileProperty:
      title: Profile Property
      type: object
      properties:
        type:
          type: string
        value:
          type: string
          minLength: 1
        primary:
          type: boolean
      required:
      - value
    JsonNestedIdentifier:
      type: string
      description: JSON field name, optionally nested, e.g., 'field1.subfield2'
      pattern: ^[a-zA-Z_][\da-zA-Z_]*(\.([a-zA-Z_][\da-zA-Z_]*|\d+))*$
    SharedTransaction:
      oneOf:
      - $ref: '#/components/schemas/SharedDeposit'
      - $ref: '#/components/schemas/SharedTransformation'
      - $ref: '#/components/schemas/SharedTradeTransaction'
      - $ref: '#/components/schemas/SharedTransfer'
      - $ref: '#/components/schemas/SharedBatchTransaction'
    FormData:
      description: Form data that matches parent form schema
      type: object
      properties: {}
    LocalizedString:
      type: object
      required:
      - en
      additionalProperties:
        type: string
        description: Strings in different languages
      properties:
        en:
          type: string
          description: Default English localization string
    SharedAsset:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        code:
          $ref: '#/components/schemas/AssetCode'
        description:
          $ref: '#/components/schemas/AssetDescription'
        uom:
          $ref: '#/components/schemas/AssetUom'
        isCredit:
          type: boolean
        balance:
          type: number
      required:
      - uom
      - isCredit
      - id
      - code
      - balance
    ShallowProfile:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        displayName:
          type: string
        name:
          type: object
        emails:
          type: array
          items:
            $ref: '#/components/schemas/ProfileProperty'
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/ProfileProperty'
        photos:
          type: array
          items:
            $ref: '#/components/schemas/ProfileProperty'
      required:
      - id
    SharedAssets:
      type: array
      description: List of shared assets
      items:
        $ref: '#/components/schemas/SharedAsset'
    OptionalLocalizedString:
      type: object
      additionalProperties:
        type: string
        description: Strings in different languages
    FormFieldImportance:
      type: object
      properties:
        ui:
          type: boolean
          description: Field is important for UI
        reporting:
          type: boolean
          description: Field is important for reporting
        coc:
          type: boolean
          description: Field is important for CoC
      additionalProperties: false
    SharedTransformationAsset:
      type: object
      properties:
        id:
          type: string
        code:
          $ref: '#/components/schemas/AssetCode'
        description:
          $ref: '#/components/schemas/AssetDescription'
        uom:
          $ref: '#/components/schemas/AssetUom'
      required:
      - id
      - uom
      - code
    GeoJsonGeometryObject:
      type: object
      properties:
        type:
          type: string
          enum:
          - Point
          - MultiPoint
          - LineString
          - MultiLineString
          - Polygon
          - MultiPolygon
          - GeometryCollection
        coordinates:
          oneOf:
          - type: array
            items:
              type: number
              minItems: 2
          - type: array
            items:
              type: array
              items:
                type: number
                minItems: 2
          - type: array
            items:
              type: array
              items:
                type: array
                items:
                  type: number
                  minItems: 2
      required:
      - type
      - coordinates
    FormMarkupElement:
      title: Form Markup Element
      type: object
      required:
      - title
      - type
      properties:
        type:
          type: string
          enum:
          - legend
          - static
        url:
          type: string
          format: url
        title:
          $ref: '#/components/schemas/LocalizedString'
        description:
          $ref: '#/components/schemas/OptionalLocalizedString'
        visibility:
          $ref: '#/components/schemas/FormElementVisibility'
        $entityId:
          type: string
        requiredIf:
          type: string
        visibleIf:
          type: string
      additionalProperties: false
    ReadWriteHideVisibility:
      type: string
      enum:
      - hidden
      - readonly
      - edit
    SharedTransformationOperation:
      type: object
      properties:
        id:
          type: string
        transactionId:
          type: string
        code:
          $ref: '#/components/schemas/AssetCode'
        description:
          $ref: '#/components/schemas/AssetDescription'
        uom:
          $ref: '#/components/schemas/AssetUom'
        type:
          type: string
          enum:
          - transformation
          - transformation-result
        sources:
          type: array
          items:
            $ref: '#/components/schemas/SharedTransformationAsset'
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/SharedTransformationAsset'
        qty:
          type: number
        sent:
          type: number
        creator:
          $ref: '#/components/schemas/TransactionParty'
      required:
      - id
      - transactionId
      - uom
      - code
      - type
      - sources
      - destinations
      - qty
      - sent
      - creator
    AssetUom:
      title: Asset Unit of Measurement
      type: string
      enum:
      - BR
      - BO
      - BX
      - BU
      - CN
      - CA
      - CH
      - DO
      - EA
      - FO
      - FT
      - GA
      - GR
      - HR
      - JA
      - KG
      - KK
      - LT
      - Q3
      - MR
      - MG
      - M4
      - OZ
      - PK
      - PR
      - PC
      - LB
      - SJ
      - VS
      - YD
      example: KG
    ConnectionExtension:
      type: object
      properties:
        urn:banqu:schemas:extensions:connection:
          type: object
          properties:
            pending:
              type: boolean
              description: Indicates if connection is still waiting for an acceptance
              readOnly: true
            direction:
              type: string
              description: Indicates what side initiated a connection
              enum:
              - in
              - out
              readOnly: true
            assignedAssociates:
              type: array
              description: A list of Org Associate ID's responsible for this connection
              items:
                type: string
                minLength: 32
                maxLength: 32
                uniqueItems: true
    FormFieldWithItems:
      title: Form Field with Items
      type: object
      properties:
        $entityId:
          type: string
          description: Internal unique identifier for the field
        name:
          $ref: '#/components/schemas/JsonNestedIdentifier'
        type:
          type: string
          enum:
          - select
          - multiSelect
          - radio
        displayAs:
          type: string
          enum:
          - dropdown
          - list
        title:
          $ref: '#/components/schemas/LocalizedString'
        description:
          $ref: '#/components/schemas/OptionalLocalizedString'
        descriptionVariant:
          $ref: '#/components/schemas/DescriptionVariant'
        required:
          type: boolean
        validation:
          type: string
        parentFieldName:
          $ref: '#/components/schemas/ParentFieldName'
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Internal unique identifier for the item
              title:
                $ref: '#/components/schemas/OptionalLocalizedString'
              value:
                type: string
              weight:
                type: number
                minimum: -1
                description: A numerical value representing the importance of this item in the overall score calculation. Higher values indicate greater importance.
              frozen:
                type: boolean
                description: Indicates if the item is frozen and cannot be modified
              parentValue:
                type: string
                description: Value of a parent field that this item belongs to. Used to filter items in a select field based on the parent field value
            required:
            - value
            additionalProperties: false
        allowOther:
          type: boolean
        visibility:
          $ref: '#/components/schemas/FormElementVisibility'
        primary:
          type: boolean
          description: Whether field is a primary key or part of a primary key. Primary key values should be unique across multiple form data entries of a same user
        globalPrimary:
          type: boolean
          description: Whether field is a primary key or part of a primary key. Primary key values should be unique across multiple form data entries of a same user
        uniqueAcrossInstances:
          type: boolean
          description: Unique across section instances when form section is repeatable
        size:
          type: integer
          description: The number of slots preserved for the field in a table column
          minimum: 1
          maximum: 12
        displayTotals:
          type: boolean
          description: When enabled, the sum of all field values is displayed in the totals row on the UI
        weight:
          type: number
          description: A numerical value representing the importance of this field in the overall score calculation. Higher values indicate greater importance.
        isParent:
          type: boolean
          description: Mark the selected connection as a parent of the data entry
        importanceArea:
          $ref: '#/components/schemas/FormFieldImportance'
        frozen:
          type: boolean
          readOnly: true
      required:
      - name
      - type
      - title
      - required
    Id:
      title: Id
      type: string
      minLength: 32
      maxLength: 32
      example: '00000000000000000000000000000000'
    TransactionParty:
      type: object
      readOnly: true
      properties:
        id:
          $ref: '#/components/schemas/ImmutableId'
        name:
          type: string
          readOnly: true
        photoUrl:
          type: string
          format: url
          readOnly: true
        photoEtag:
          type: string
          readOnly: true
        isOrg:
          type: boolean
    JsonIdentifier:
      type: string
      description: JSON field name
      pattern: ^[$a-zA-Z_][\da-zA-Z_]*$
    FragmentField:
      title: Fragment Field
      type: object
      required:
      - fragmentId
      - type
      properties:
        type:
          type: string
          enum:
          - fragment
        fragmentId:
          type: string
          minLength: 16
        title:
          $ref: '#/components/schemas/LocalizedString'
        placeholder:
          $ref: '#/components/schemas/OptionalLocalizedString'
        description:
          $ref: '#/components/schemas/OptionalLocalizedString'
        descriptionVariant:
          $ref: '#/components/schemas/DescriptionVariant'
        visibility:
          $ref: '#/components/schemas/FormElementVisibility'
        $entityId:
          type: string
        requiredIf:
          type: string
        visibleIf:
          type: string
        required:
          type: boolean
        importanceArea:
          $ref: '#/components/schemas/FormFieldImportance'
        frozen:
          type: boolean
          readOnly: true
        primary:
          type: boolean
          description: Whether field is a primary key or part of a primary key. Primary key values should be unique across multiple form data entries of a same user
        globalPrimary:
          type: boolean
          description: Whether field is a primary key or part of a primary key. Primary key values should be unique across multiple form data entries of a same user
        uniqueAcrossInstances:
          type: boolean
          description: Unique across section instances when form section is repeatable
        formula:
          type: string
          description: Formula for calculated mode of the field
      additionalProperties: false
    ProfilePhoneNumber:
      oneOf:
      - allOf:
        - $ref: '#/components/schemas/ProfileProperty'
        - properties:
            value:
              $ref: '#/components/schemas/PhoneNumber'
      - $ref: '#/components/schemas/PhoneNumber'
    FormDataEntry:
      description: Form data entry, assigned by a connected identity or created manually
      properties:
        id:
          type: string
          readOnly: true
          title: Data Entry ID
        form:
          type: object
          readOnly: true
          properties:
            id:
              type: string
              title: Form ID
            title:
              $ref: '#/components/schemas/LocalizedString'
        previewFields:
          type: array
          readOnly: true
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
              title:
                $ref: '#/components/schemas/LocalizedString'
              primary:
                type: boolean
              value:
                oneOf:
                - type: string
                - type: number
                - $ref: '#/components/schemas/LocalizedString'
            additionalProperties: false
        data:
          $ref: '#/components/schemas/FormData'
        owner:
          type: object
          readOnly: true
          properties:
            id:
              type: string
              title: Owner ID
            displayName:
              type: string
              title: Owner
            isOrg:
              type: boolean
              title: Owner is Org
            emails:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    title: Owner Email Type
                  value:
                    type: string
                    title: Owner Email
                  primary:
                    type: boolean
                    title: Is Primary Email
            photos:
              type: array
              items:
                type: object
                properties:
                  value:
                    type: string
                    title: Owner Photo URL
                  etag:
                    type: string
                    title: Owner Photo Signature
                  primary:
                    type: boolean
                    title: Is Primary Photo
        responders:
          type: array
          items:
            type: object
            readOnly: true
            properties:
              id:
                type: string
                title: Responder ID
              displayName:
                type: string
                title: Responder
              isOrg:
                type: boolean
                title: Responder is Org
              emails:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      title: Responder Email Type
                    value:
                      type: string
                      title: Responder Email
                    primary:
                      type: boolean
                      title: Is Primary Email
              photos:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Responder Photo URL
                    etag:
                      type: string
                      title: Responder Photo Signature
                    primary:
                      type: boolean
                      title: Is Primary Photo
        submitter:
          type: object
          readOnly: true
          properties:
            id:
              type: string
              title: Submitter ID
            displayName:
              type: string
              title: Submitter
            isOrg:
              type: boolean
              title: Submitter is Org
            emails:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    title: Submitter Email Type
                  value:
                    type: string
                    title: Submitter Email
                  primary:
                    type: boolean
                    title: Is Primary Email
            photos:
              type: array
              items:
                type: object
                properties:
                  value:
                    type: string
                    title: Submitter Photo URL
                  etag:
                    type: string
                    title: Submitter Photo Signature
                  primary:
                    type: boolean
                    title: Is Primary Photo
        submitterAccount:
          type: object
          readOnly: true
          properties:
            id:
              type: string
              title: Submitter Account ID
            displayName:
              type: string
              title: Submitter Account
            isOrg:
              type: boolean
              title: Submitter Account is Org
            photos:
              type: array
              items:
                type: object
                properties:
                  value:
                    type: string
                    title: Submitter Account Photo URL
                  etag:
                    type: string
                    title: Submitter Account Photo Signature
                  primary:
                    type: boolean
                    title: Is Primary Photo
        reviews:
          type: array
          readOnly: true
          items:
            type: object
            properties:
              by:
                type: string
              at:
                type: number
              reviewed:
                type: boolean
              approved:
                type: boolean
              rejected:
                type: boolean
              comment:
                type: string
        createdAt:
          type: number
          readOnly: true
          title: Created At
          example: 1568894551000
        submittedAt:
          type: number
          readOnly: true
          title: Submitted At
          example: 1568894551000
        submitted:
          type: boolean
          readOnly: true
          title: Is Submitted
        reviewed:
          type: boolean
          readOnly: true
          title: Is Reviewed
        approved:
          type: boolean
          readOnly: true
          title: Is Approved
        rejected:
          type: boolean
          readOnly: true
          title: Is Rejected
        denied:
          type: boolean
          readOnly: true
          title: Is Denied
        archived:
          type: boolean
          readOnly: true
          title: Is Archived
    CheckboxField:
      title: Checkbox Field
      type: object
      properties:
        $entityId:
          type: string
          description: Internal unique identifier for the field
        name:
          $ref: '#/components/schemas/JsonNestedIdentifier'
        type:
          type: string
          enum:
          - checkbox
        title:
          $ref: '#/components/schemas/OptionalLocalizedString'
        placeholder:
          $ref: '#/components/schemas/OptionalLocalizedString'
        description:
          $ref: '#/components/schemas/OptionalLocalizedString'
        descriptionVariant:
          $ref: '#/components/schemas/DescriptionVariant'
        required:
          type: boolean
        visibility:
          $ref: '#/components/schemas/FormElementVisibility'
        size:
          type: integer
          description: The number of slots preserved for the field in a table column
          minimum: 1
          maximum: 12
        weight:
          type: number
          description: A numerical value representing the importance of this field in the overall score calculation. Higher values indicate greater importance.
        importanceArea:
          $ref: '#/components/schemas/FormFieldImportance'
        frozen:
          type: boolean
          readOnly: true
        uniqueAcrossInstances:
          enum:
          - false
        defaultValue:
          type: boolean
          description: Default value for this checkbox field
      required:
      - name
      - type
    SharedTransformation:
      type: object
      properties:
        id:
          type: string
        transactionId:
          type: string
        type:
          type: string
          enum:
          - transformation
        sent:
          type: number
        creatorId:
          type: string
        creator:
          $ref: '#/components/schemas/TransactionParty'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/SharedTransformationAsset'
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/SharedTransformationAsset'
      required:
      - id
      - transactionId
      - type
      - sent
      - creatorId
      - creator
      - sources
      - destinations
    PhoneNumber:
      description: Phone Number with Country Prefix
      type: string
      pattern: ^(?:(?:\+|00 ?|011 ?|010 ?|0011 ?)?(1|20|212|213|216|218|220|221|222|223|224|225|226|227|228|229|230|231|232|233|234|235|236|237|238|239|240|241|242|243|244|245|248|249|250|251|252|253|254|255|256|257|258|260|261|262|263|264|265|266|267|269|27|290|291|297|298|299|30|31|32|33|34|350|351|352|353|354|355|356|357|358|359|36|370|371|372|373|374|375|376|377|378|380|381|382|385|386|387|389|39|40|41|420|421|423|43|44|45|46|47|48|49|500|501|502|503|504|505|506|507|508|509|51|52|53|54|55|56|57|58|590|591|592|593|594|595|596|597|598|60|61|62|63|64|65|66|670|672|673|674|675|676|677|678|679|680|681|682|683|685|686|687|688|689|690|691|692|7|81|82|84|852|853|855|856|86|880|886|90|91|92|93|94|95|960|961|962|963|964|965|966|967|968|970|971|972|973|974|975|976|977|98|992|993|994|995|996|998))((?:\)?[ -.]?\(?\d){6,11})$
      example: +1 555 999 8877
    SharedDeposit:
      type: object
      properties:
        assetId:
          type: string
        code:
          $ref: '#/components/schemas/AssetCode'
        description:
          $ref: '#/components/schemas/AssetDescription'
        uom:
          $ref: '#/components/schemas/AssetUom'
        creator:
          $ref: '#/components/schemas/TransactionParty'
        creatorId:
          type: string
        creatorUser:
          $ref: '#/components/schemas/TransactionParty'
        creatorUserId:
          type: string
        holder:
          $ref: '#/components/schemas/TransactionParty'
        holderId:
          type: string
        id:
          type: string
        qty:
          type: number
          minimum: 0
        sent:
          type: number
        type:
          type: string
          enum:
          - deposit
      required:
      - id
      - type
      - sent
      - assetId
      - code
      - uom
      - creator
      - creatorId
      - creatorUser
      - creatorUserId
      - holder
      - holderId
      - qty
    Resource:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
            uniqueItems: true
          readOnly: true
        id:
          type: string
          description: The resource type's server unique id
          readOnly: true
        externalId:
          type: string
          description: A String that is an identifier for the resource as defined by the provisioning client. The "externalId" may simplify identification of a resource between the provisioning client and the service provider by allowing the client to use a filter to locate the resource with an identifier from the provisioning domain, obviating the need to store a local mapping between the provisioning domain's identifier of the resource and the identifier used by the service provider.
        meta:
          type: object
          description: A complex attribute containing resource metadata. All "meta" sub-attributes are assigned by the service provider (have a "mutability" of "readOnly"), and all of these sub-attributes have a "returned" characteristic of "default".
          properties:
            resourceType:
              type: string
              enum:
              - User
              - Org
              - Invite
              readOnly: true
            created:
              type: number
              readOnly: true
            lastModified:
              type: number
              readOnly: true
            location:
              type: string
              format: uri
              readOnly: true
          readOnly: true
    SharedOperations:
      type: array
      items:
        $ref: '#/components/schemas/SharedOperation'
    Profile:
      title: User Profile
      type: object
      properties:
        displayName:
          type: string
          description: The name of the user, suitable for displaying to other parties
          readOnly: true
        name:
          title: Structured User Name
          allOf:
          - type: object
            additionalProperties: false
            properties:
              formatted:
                type: string
                description: The full name, including all middle names, titles, and suffixes as appropriate, formatted for display
                example: Ms. Barbara Jane Jensen, III
              honorificPrefix:
                type: string
                description: The honorific prefix(es) of the User, or title in most Western languages.
                example: Ms.
              givenName:
                type: string
                description: The given name of the User, or first name in most Western languages.
                example: Barbara
              middleName:
                type: string
                description: The middle name(s) of the User.
                example: Jane
              familyName:
                type: string
                description: The family name of the User, or last name in most Western languages.
                example: Jensen
              honorificSuffix:
                type: string
                description: The honorific suffix(es) of the User, or suffix in most Western languages.
                example: III
          - anyOf:
            - title: formatted name not empty
              required:
              - formatted
            - title: givenName and familyName not empty
              required:
              - givenName
              - familyName
        userName:
          type: string
          minLength: 5
          maxLength: 50
          pattern: ^[a-zA-Z]{2}\w+$
          description: A unique, manually-set identifier for the user in BanQu system (requires additional account permissions to be used)
        emails:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ProfileEmail'
        phoneNumbers:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ProfilePhoneNumber'
        ims:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ProfileProperty'
        photos:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ProfilePhoto'
        addresses:
          type: array
          uniqueItems: true
          items:
            type: object
            description: A physical mailing address for this user
            additionalProperties: false
            properties:
              type:
                type: string
                description: Canonical type values of "work", "home", and "other"
                example: home
              formatted:
                type: string
                description: The full mailing address, formatted for display or use with a mailing label
              streetAddress:
                type: string
                description: The full street address component, which may include house number, street name, P.O. box, and multi-line extended street address information.
              locality:
                type: string
                description: The city or locality component
              region:
                type: string
                description: The state or region component
              postalCode:
                type: string
                description: The zipcode or postal code component
              country:
                type: string
                description: The country name component. When specified the value MUST be in ISO 3166-1 alpha 2 "short" code format [ISO3166]
                example: US
        preferredLanguage:
          type: string
          description: Indicates the user's preferred written or spoken languages and is generally used for selecting a localized User interface. The value indicates the set of natural languages that are preferred.
          example: en
        locale:
          type: string
          enum:
          - en-us
          - en-gb
          - en-za
          - uk-ua
          description: Used to indicate the User's default location for purposes of localizing such items as currency, date time format, or numerical representations. A valid value is a language tag as defined in [RFC5646](https://tools.ietf.org/html/rfc5646). Computer languages are explicitly excluded.
        urn:banqu:schemas:scim:User:social:
          title: User social profile
          type: object
          properties:
            gender:
              type: string
              enum:
              - ''
              - O
              - M
              - F
              example: M
              description: 'Letter of a gender: "M" for male, "F" for female, "O" for other, or empty value not to specify it'
            birthday:
              type: string
              format: date
              example: '1985-04-17'
        urn:banqu:schemas:scim:User:identification:
          title: User identification documents
          type: array
          uniqueItems: true
          items:
            type: object
            additionalProperties: false
            properties:
              type:
                type: string
                minLength: 1
              $entityId:
                type: string
                minLength: 1
              country:
                type: string
                description: The country name component. When specified the value MUST be in ISO 3166-1 alpha 2 "short" code format [ISO3166]
                example: US
                minLength: 2
                maxLength: 2
              expiresOn:
                type: string
                format: date
              issuedBy:
                type: string
              issuedOn:
                type: string
                format: date
              id:
                type: string
                minLength: 1
              attachments:
                $ref: '#/components/schemas/Attachment'
            required:
            - type
            - id
      patternProperties:
        ^urn:banqu:schemas:([a-f\d]{32}|scim):User:[a-zA-Z_][\da-zA-Z_]*$:
          anyOf:
          - type: object
          - type: array
    Timestamp:
      type: number
      description: Number of milliseconds elapsed since January 1, 1970 00:00:00 UTC
      example: 1568894551000
    SharedTradeOperation:
      type: object
      properties:
        id:
          type: string
        transactionId:
          type: string
        direction:
          type: string
          enum:
          - in
          - out
        received:
          type: number
        code:
          $ref: '#/components/schemas/AssetCode'
        description:
          $ref: '#/components/schemas/AssetDescription'
        uom:
          $ref: '#/components/schemas/AssetUom'
        isCredit:
          type: boolean
        type:
          type: string
          enum:
          - transfer
        qty:
          type: number
        sent:
          type: number
        receiver:
          $ref: '#/components/schemas/TransactionParty'
        sender:
          $ref: '#/components/schemas/TransactionParty'
        paymentStatus:
          type: string
          enum:
          - pending
          - complete
          - rejected
      required:
      - id
      - transactionId
      - direction
      - received
      - uom
      - code
      - isCredit
      - type
      - qty
      - sent
      - receiver
      - sender
    AssetCode:
      type: string
      minLength: 2
      maxLength: 32
    SharedOperation:
      allOf:
      - $ref: '#/components/schemas/SharedTransformationOperation'
      - $ref: '#/components/schemas/SharedTradeOperation'
  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: number
        default: 20
        minimum: 1
      description: Number or items per page
      required: false
    Offset:
      name: offset
      in: query
      schema:
        type: number
        minimum: 0
        default: 0
      description: 0-based index of the first element
      required: false
    SortBy:
      name: sortBy
      in: query
      schema:
        type: string
      description: Comma-separated list of fields to sort the collection by (i.e. "status:asc,created:desc")
      required: false
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Your authentication token
