{"openapi":"3.0.3","servers":[{"url":"https://banqu.app:443/api/v1"}],"info":{"title":"BanQu API","version":"3.3.4","description":"The BanQu API is organized around [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer). Our API is designed to have predictable, resource-oriented URLs and to use HTTP response codes to indicate API errors. We use built-in HTTP features, like HTTP verbs, which can be understood by off-the-shelf HTTP clients, and [JSON](http://www.json.org) for input and output."},"paths":{"/auth/api-tokens":{"post":{"description":"Create persistent token for API requests authentication.\nToken will be written to the response body only once and will not be stored within the BanQu system","tags":["Authentication"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiTokenCreationParameters"}}},"required":true},"responses":{"200":{"description":"JWT encoded API access token","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"422":{"$ref":"#/components/responses/422"}}},"get":{"description":"Get available API tokens","tags":["Authentication"],"responses":{"200":{"description":"API tokens","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiTokenInfo"}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}}},"/auth/api-tokens/{id}":{"parameters":[{"name":"id","description":"API token identifier","in":"path","schema":{"type":"string"},"required":true}],"delete":{"description":"Remove API token","tags":["Authentication"],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}}},"/auth/accounts":{"get":{"description":"List available accounts","tags":["Authentication"],"responses":{"200":{"description":"List of accounts","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AccountInfo"}}}}},"401":{"$ref":"#/components/responses/401"}}}},"/auth/accounts/{accountId}/token":{"post":{"description":"Create account-specific short-lived authentication token","tags":["Authentication"],"parameters":[{"in":"path","name":"accountId","schema":{"type":"string"},"required":true}],"responses":{"200":{"$ref":"#/components/schemas/AuthTokens"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/auth/signup":{"post":{"description":"Sign up user","tags":["Authentication"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignUp"}}},"required":true},"responses":{"200":{"$ref":"#/components/schemas/AuthTokens"},"400":{"$ref":"#/components/responses/400"}}}},"/auth/signup/{token}":{"parameters":[{"in":"path","name":"token","schema":{"type":"string"},"required":true}],"get":{"description":"Get user invite info","tags":["Authentication"],"responses":{"200":{"$ref":"#/components/schemas/InviteInfo"},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"404":{"$ref":"#/components/responses/404"}}},"post":{"description":"Sign up user by invite","tags":["Authentication"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignUpWithToken"}}},"required":true},"responses":{"200":{"$ref":"#/components/schemas/AuthTokens"},"400":{"$ref":"#/components/responses/400"},"404":{"$ref":"#/components/responses/404"}}}},"/profile":{"get":{"description":"Get logged in user profile","tags":["User Profile"],"responses":{"200":{"description":"User profile","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExistentProfile"}}}},"401":{"$ref":"#/components/responses/401"}}},"patch":{"description":"Modify logged in user profile","tags":["User Profile"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExistentProfile"}}}},"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExistentProfile"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/profile/password":{"post":{"description":"Update logged in user password","tags":["User Profile"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"oldPassword":{"type":"string"},"password":{"type":"string"}}}}}},"responses":{"200":{"description":"Password changed successfully"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/profile/photo":{"get":{"description":"Get logged in user photo","tags":["User Profile"],"responses":{"302":{"description":"Redirect to the Photo url","headers":{"Location":{"schema":{"type":"string"},"description":"Photo URL"}}},"404":{"$ref":"#/components/responses/404"}}},"post":{"description":"Update logged in user photo","tags":["User Profile"],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"string","format":"binary"}}}},"responses":{"201":{"$ref":"#/components/responses/201"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/profile/sections":{"get":{"description":"List logged in user profile sections","tags":["User Profile"],"responses":{"200":{"description":"List of profile sections","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileSectionsList"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/profile/standard":{"get":{"description":"List standard profile sections","tags":["User Profile"],"responses":{"200":{"description":"List of profile sections","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileSectionsList"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/profile/forms":{"get":{"description":"List profile section forms","tags":["User Profile"],"responses":{"200":{"description":"List of profile forms","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Form"}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/profile/forms/{formId}":{"get":{"description":"Get profile section form details","parameters":[{"name":"formId","description":"FormId from profile section","in":"path","schema":{"type":"string"},"required":true}],"tags":["User Profile"],"responses":{"200":{"description":"Profile form template","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Form"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/profile/sharing":{"get":{"description":"Get profile sharing settings","tags":["User Profile Sharing"],"responses":{"200":{"description":"Sharing settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileVisibility"}}}},"401":{"$ref":"#/components/responses/401"}}},"patch":{"description":"Change profile sharing settings","tags":["User Profile Sharing"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileVisibility"}}}},"responses":{"200":{"description":"Sharing settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileVisibility"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/profile-shared-packages":{"get":{"tags":["User Profile Sharing"],"description":"List packaged profile shares","responses":{"200":{"description":"List of profile share packages","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PackagedShareProfileListItem"}}}}},"401":{"$ref":"#/components/responses/401"}}},"post":{"tags":["User Profile Sharing"],"description":"Create packaged profile share","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewPackagedShareProfile"}}}},"responses":{"201":{"$ref":"#/components/responses/201"},"401":{"$ref":"#/components/responses/401"}}}},"/profile-shared-packages/{id}":{"get":{"tags":["User Profile Sharing"],"description":"Get packaged profile share details","parameters":[{"name":"id","description":"sharing id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Particular packaged share profile data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PackagedShareProfile"}}}}}},"delete":{"tags":["User Profile Sharing"],"description":"Delete packaged profile share","parameters":[{"name":"id","description":"sharing id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"204":{"$ref":"#/components/responses/204"}}}},"/profile-shared-packages/{id}/assets":{"parameters":[{"name":"id","description":"sharing id","in":"path","schema":{"type":"string"},"required":true}],"get":{"tags":["User Profile Sharing"],"parameters":[{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/SortBy"}],"description":"List packaged profile share assets","responses":{"200":{"description":"A list of assets","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SharedAssets"}}}}},"401":{"$ref":"#/components/responses/401"}}}},"/profile-shared-packages/{id}/transactions":{"get":{"tags":["User Profile Sharing"],"description":"List packaged profile share transactions","parameters":[{"name":"id","description":"sharing id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"A list of transactions","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}}}}},"401":{"$ref":"#/components/responses/401"}}}},"/profile-shared-packages/{id}/connections":{"get":{"tags":["User Profile Sharing"],"description":"List packaged profile share connections","parameters":[{"name":"id","description":"sharing id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"A list of connections","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Connection"}}}}},"401":{"$ref":"#/components/responses/401"}}}},"/profile-shared-packages/{id}/asset-categories":{"get":{"tags":["User Profile Sharing"],"description":"List packaged profile share categories","parameters":[{"name":"id","description":"sharing id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"A list of asset categories","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssetCategory"}}}}},"401":{"$ref":"#/components/responses/401"}}}},"/profile-shared-packages/{id}/geo-data":{"get":{"parameters":[{"name":"id","description":"sharing id","in":"path","schema":{"type":"string"},"required":true}],"description":"Get GeoJSON data from shared Profile Sections","tags":["User Profile Sharing"],"responses":{"200":{"description":"Successful response containing the GeoJSON object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoJsonFeatureCollection"}}}}}}},"/profile/shares":{"get":{"tags":["User Profile Sharing"],"description":"List profile shares","responses":{"200":{"description":"List of profile shares","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProfileShareRequests"}}}}}}},"post":{"tags":["User Profile Sharing"],"description":"Create profile share","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"receiverId":{"description":"User or Org id","type":"string"},"sections":{"type":"array","items":{"type":"string","uniqueItems":true}},"expiresAt":{"type":"number","description":"expiration time in milliseconds"}},"required":["receiverId","sections"]}}}},"responses":{"201":{"$ref":"#/components/responses/201"},"403":{"$ref":"#/components/responses/403"},"422":{"$ref":"#/components/responses/422"}}}},"/profile/shares/{otherPartyId}":{"parameters":[{"name":"otherPartyId","description":"User or Org id","in":"path","schema":{"type":"string"},"required":true}],"get":{"tags":["User Profile Sharing"],"description":"Get profile share request details","responses":{"200":{"description":"A certain share request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareRequest"}}}},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}},"delete":{"tags":["User Profile Sharing"],"description":"Delete/reject profile share request","responses":{"204":{"$ref":"#/components/responses/204"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/422"}}}},"/profile/shares/{senderId}/approve":{"post":{"tags":["User Profile Sharing"],"description":"Accept profile share request","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"expiresAt":{"type":"number","description":"expiration time in milliseconds"}}}}}},"parameters":[{"name":"senderId","description":"User or Org id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Request was approved"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/422"}}}},"/shared-profile/{ownerId}":{"parameters":[{"name":"ownerId","description":"User or Org account ID","in":"path","schema":{"type":"string"},"required":true}],"get":{"security":[],"tags":["Public Profiles"],"description":"Get public profile","responses":{"200":{"description":"An user or organization profile","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExistentProfile"}}}},"404":{"$ref":"#/components/responses/404"}}}},"/shared-profile/{ownerId}/forms":{"parameters":[{"name":"ownerId","description":"User or Org account ID","in":"path","schema":{"type":"string"},"required":true}],"get":{"security":[],"description":"Get forms describing shared profile sections","tags":["Public Profiles"],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Form"}}}}},"404":{"$ref":"#/components/responses/404"}}}},"/shared-profile/{ownerId}/related-data-entries":{"parameters":[{"name":"ownerId","description":"User or Org account ID","in":"path","schema":{"type":"string"},"required":true}],"get":{"security":[],"description":"Get data entries related to the profile","tags":["Public Profiles"],"parameters":[{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/SortBy"},{"name":"status","in":"query","schema":{"type":"string","enum":["all","pending","submitted","reviewed","rejected","approved","denied","archived"]},"description":"Data entry status filter","required":false}],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FormDataEntry"}}}}}}}},"/shared-profile/{ownerId}/geo-data":{"parameters":[{"name":"ownerId","description":"User or Org account ID","in":"path","schema":{"type":"string"},"required":true}],"get":{"description":"Get GeoJSON data from related Data Entries and Profile Forms","tags":["Public Profiles"],"parameters":[{"name":"status","in":"query","schema":{"type":"string","enum":["all","pending","submitted","reviewed","rejected","approved","denied","archived"]},"description":"Data entry status filter","required":false}],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoJsonFeatureCollection"}}}}}}},"/shared-profile/{ownerId}/connections":{"get":{"security":[],"tags":["Public Profiles"],"description":"List public profile connections","parameters":[{"name":"ownerId","description":"User or Org id","in":"path","schema":{"type":"string"},"required":true},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/SortBy"}],"responses":{"200":{"description":"Public profile connections","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Connection"}}}}},"404":{"$ref":"#/components/responses/404"}}}},"/shared-profile/{ownerId}/assets":{"parameters":[{"name":"ownerId","description":"User or Org account ID","in":"path","schema":{"type":"string"},"required":true}],"get":{"security":[],"tags":["Public Profiles"],"description":"List public profile assets","parameters":[{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/SortBy"}],"responses":{"200":{"description":"Get shared assets","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SharedAssets"}}}}}}}},"/shared-profile/{ownerId}/transactions":{"parameters":[{"name":"ownerId","description":"User or Org account ID","in":"path","schema":{"type":"string"},"required":true}],"get":{"security":[],"tags":["Public Profiles"],"description":"List public profile transactions","parameters":[{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/SortBy"}],"responses":{"200":{"description":"Get shared transactions","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SharedTransaction"}}}}},"404":{"$ref":"#/components/responses/404"}}}},"/shared-profile/{ownerId}/transactions/{transactionId}/operations":{"parameters":[{"name":"ownerId","description":"User or Org account ID","in":"path","schema":{"type":"string"},"required":true},{"name":"transactionId","description":"shared transactions ID","in":"path","schema":{"type":"string"},"required":true}],"get":{"security":[],"tags":["Public Profiles"],"description":"List public profile transaction operations","responses":{"200":{"description":"Get shared transaction operations","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SharedOperations"}}}}},"404":{"$ref":"#/components/responses/404"}}}},"/shared-profile/{ownerId}/requests":{"parameters":[{"name":"ownerId","description":"User or Org account ID","in":"path","schema":{"type":"string"},"required":true}],"post":{"tags":["Public Profiles"],"description":"Send profile share request","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"expiresAt":{"$ref":"#/components/schemas/Timestamp"},"sections":{"type":"array","items":{"type":"string"},"uniqueItems":true}}}}}},"responses":{"201":{"$ref":"#/components/responses/201"},"403":{"$ref":"#/components/responses/403"},"422":{"$ref":"#/components/responses/422"}}}},"/shared-profile/{ownerId}/households":{"parameters":[{"name":"ownerId","description":"User or Org account ID","in":"path","schema":{"type":"string"},"required":true}],"get":{"security":[],"description":"List public profile households. If ownerId is a head of household result contains list of members including himself. If ownerId is dependent result contains all heads of households ownerId is member of","tags":["Public Profiles"],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ShallowProfile"}}}}},"404":{"$ref":"#/components/responses/404"}}}},"/orgs":{"get":{"description":"Get list of Org accounts user participates in","tags":["Organizations"],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserOrg"}}}}}}},"post":{"description":"Create org account","tags":["Organizations"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"description":"Name of the Organization","type":"string","minLength":3,"maxLength":100},"isChild":{"description":"Should new account be a child account of the org user signed into","type":"boolean"}},"additionalProperties":false,"required":["name"]}}}},"responses":{"201":{"$ref":"#/components/responses/201"}}}},"/orgs/{orgId}":{"parameters":[{"name":"orgId","in":"path","schema":{"type":"string"},"required":true}],"get":{"description":"Get org account details","tags":["Organizations"],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Org"}}}},"404":{"$ref":"#/components/responses/404"}}},"patch":{"description":"Modify org account details","tags":["Organizations"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Org"}}}},"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Org"}}}},"404":{"$ref":"#/components/responses/404"}}},"delete":{"description":"Deactivate org account","tags":["Organizations"],"responses":{"204":{"$ref":"#/components/responses/204"},"404":{"$ref":"#/components/responses/404"}}}},"/orgs/{orgId}/restore":{"post":{"description":"Reactivate org account","tags":["Organizations"],"parameters":[{"name":"orgId","in":"path","schema":{"type":"string"},"required":true}],"responses":{"204":{"$ref":"#/components/responses/204"},"404":{"$ref":"#/components/responses/404"}}}},"/orgs/{orgId}/private-labeling":{"parameters":[{"name":"orgId","in":"path","schema":{"type":"string"},"required":true}],"get":{"description":"get enterprise settings","tags":["Organizations"],"responses":{"200":{"description":"Changes successfully applied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateLabeling"}}}},"403":{"$ref":"#/components/responses/403"}}},"post":{"description":"Apply changes to Enterprise.","tags":["Organizations"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateLabeling"}}}},"responses":{"200":{"description":"Changes successfully applied"},"403":{"$ref":"#/components/responses/403"}}}},"/orgs/{orgId}/license":{"parameters":[{"name":"orgId","in":"path","schema":{"type":"string"},"required":true}],"get":{"description":"Get org account license. Specifies count limits of associates with admin privileges","tags":["Organizations"],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/License"}}}}}}},"/orgs/{orgId}/sharing":{"parameters":[{"name":"orgId","in":"path","schema":{"type":"string"},"required":true}],"get":{"description":"Get org account public profile settings","tags":["Organizations"],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileVisibility"}}}}}},"patch":{"description":"Modify org account public profile settings","tags":["Organizations"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileVisibility"}}}},"responses":{"204":{"$ref":"#/components/responses/204"}}}},"/orgs/current/profile-forms":{"get":{"description":"Get a list of forms describing Org profile","tags":["Organizations"],"responses":{"200":{"description":"List of forms","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Form"}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}}},"/orgs/current/associates":{"get":{"description":"List org account associates","tags":["Organization Associates"],"responses":{"200":{"description":"List of current org associates","content":{"application/json":{"schema":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/OrgAssociate"},{"$ref":"#/components/schemas/OrgAssociateInvite"}]}}}}}}},"post":{"description":"Add org account associate","tags":["Organization Associates"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgAssociateInvite"}}}},"responses":{"201":{"$ref":"#/components/responses/201"},"202":{"$ref":"#/components/responses/202"}}}},"/orgs/current/associates/{userId}":{"patch":{"description":"Modify org associate/invite roles","tags":["Organization Associates"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgAssociatePatch"}}}},"parameters":[{"name":"userId","in":"path","schema":{"type":"string"},"required":true}],"responses":{"204":{"$ref":"#/components/responses/204"}}},"delete":{"description":"Remove org associate/invite","tags":["Organization Associates"],"parameters":[{"name":"userId","in":"path","schema":{"type":"string"},"required":true}],"responses":{"204":{"$ref":"#/components/responses/204"}}}},"/orgs/current/roles":{"get":{"description":"List roles available in current org account","tags":["Organization Roles"],"responses":{"200":{"description":"List of roles in organization","content":{"application/json":{"schema":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/OrgRole"},{"$ref":"#/components/schemas/ScimResourceMetadata"}]}}}}},"404":{"$ref":"#/components/responses/404"}}},"post":{"description":"Create org account role","tags":["Organization Roles"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"role":{"$ref":"#/components/schemas/EditableOrgRole"}},"required":["role"]}}}},"responses":{"204":{"$ref":"#/components/responses/201"},"400":{"$ref":"#/components/responses/400"}}}},"/orgs/current/roles/{roleId}":{"patch":{"description":"Modify org account role","tags":["Organization Roles"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"role":{"$ref":"#/components/schemas/EditableOrgRole"}},"required":["role"]}}}},"parameters":[{"in":"path","name":"roleId","description":"ID of the role to modify","schema":{"type":"string"},"required":true}],"responses":{"204":{"$ref":"#/components/responses/201"},"400":{"$ref":"#/components/responses/400"},"404":{"$ref":"#/components/responses/404"}}},"delete":{"description":"Remove org account role","tags":["Organization Roles"],"parameters":[{"in":"path","name":"roleId","description":"ID of the role to modify","schema":{"type":"string"},"required":true}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"404":{"$ref":"#/components/responses/404"}}}},"/orgs/current/capabilities":{"get":{"description":"List all organization capabilities","tags":["Organization Roles"],"responses":{"200":{"description":"List of roles in organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgCapabilities"}}}}}}},"/orgs/{orgId}/features":{"get":{"description":"List all available organization features","tags":["Organization Features"],"parameters":[{"in":"path","name":"orgId","description":"ID of the org to modify or \"current\"","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"List of features in organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgFeatures"}}}}}},"post":{"description":"Set organization features","tags":["Organization Features"],"parameters":[{"in":"path","name":"orgId","description":"ID of the org to modify or \"current\"","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"features":{"type":"array","uniqueItems":true,"items":{"pattern":"^\\S+$","type":"string"}}},"required":["features"]}}}},"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}}},"/connections":{"get":{"description":"List connections/invites","tags":["Connections"],"parameters":[{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/SortBy"},{"$ref":"#/components/parameters/Search"},{"name":"status","in":"query","schema":{"type":"string","enum":["connected","pending-incoming"]},"description":"Filter by connection status","required":false}],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Connection"}}}},"headers":{"X-Total-Count":{"schema":{"type":"number"},"description":"Total number of connections available for paging purposes"}}},"401":{"$ref":"#/components/responses/401"}}},"post":{"description":"Create identity or send connection invite","tags":["Connections"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionCreatePayload"}}}},"responses":{"201":{"description":"Connection invite or identity profile is created"},"202":{"description":"User invited to BanQu"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/connections/filter":{"post":{"description":"Search connections and filter them by specific form fields","tags":["Connections"],"requestBody":{"content":{"application/json":{"schema":{"properties":{"filter":{"$ref":"#/components/schemas/ConnectionFilter"}}}}}},"parameters":[{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/SortBy"},{"$ref":"#/components/parameters/Search"},{"name":"status","in":"query","schema":{"type":"string","enum":["connected","pending-incoming"]},"description":"Filter by connection status","required":false}],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Connection"}}}},"headers":{"X-Total-Count":{"schema":{"type":"number"},"description":"Total number of found connections available for paging purposes"}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/connections/csv":{"get":{"description":"Export connections to CSV","tags":["Connections"],"parameters":[{"name":"method","in":"query","schema":{"type":"string","enum":["pretty","simple"]},"description":"Sets output format. \"simple\" is default. \"pretty\" provides field titles in header, formatted dates, list items, hides system information. \"simple\" gives JSON names in header and all available unformatted data","required":false},{"name":"excludeColumns","in":"query","schema":{"type":"string"},"description":"Comma-separated list of JSON names of fields to be omitted","required":false}],"responses":{"200":{"description":"Ok","content":{"text/csv;":{"schema":{"type":"string"}}},"headers":{"content-type":{"schema":{"type":"string"},"description":"text/csv;charset=utf-8"},"content-disposition":{"schema":{"type":"string"},"description":"Proposed file name"}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}}},"/connections/{connectionId}":{"get":{"description":"Get connection details","tags":["Connections"],"parameters":[{"$ref":"#/components/parameters/connectionId"}],"responses":{"200":{"description":"Connection details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Connection"}}}},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}},"patch":{"description":"Change connection details","tags":["Connections"],"requestBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Resource"},{"$ref":"#/components/schemas/ConnectionExtension"},{"type":"object","properties":{"lastModified":{"type":"number"}}}]}}}},"parameters":[{"$ref":"#/components/parameters/connectionId"}],"responses":{"200":{"$ref":"#/components/responses/NewProfileTimestamp"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}},"delete":{"description":"Delete connection/invite","tags":["Connections"],"parameters":[{"$ref":"#/components/parameters/connectionId"}],"responses":{"200":{"description":"Connection deleted"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}},"put":{"description":"Create connection","tags":["Connections"],"parameters":[{"name":"newConnectionId","description":"New Connection ID (UUID without dashes)","in":"path","schema":{"type":"string","pattern":"^[0-9a-f]{32}$"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionCreatePayload"}}}},"responses":{"201":{"description":"Connection profile is created"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"409":{"$ref":"#/components/responses/409"},"422":{"$ref":"#/components/responses/422"}}}},"/connections/{connectionId}/resend":{"post":{"description":"Resend connection invite","tags":["Connections"],"parameters":[{"$ref":"#/components/parameters/connectionId"}],"responses":{"200":{"description":"Connection invite resent"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/connections/{connectionId}/accept":{"post":{"description":"Accept connection invite","tags":["Connections"],"parameters":[{"$ref":"#/components/parameters/connectionId"}],"responses":{"200":{"description":"Connection invite accepted"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/connections/{connectionId}/roles":{"post":{"description":"Grant roles to connected identity","tags":["Connections"],"requestBody":{"content":{"application/json":{"schema":{"properties":{"roles":{"type":"array","items":{"type":"string"}}},"required":["roles"]}}}},"parameters":[{"$ref":"#/components/parameters/connectionId"}],"responses":{"200":{"$ref":"#/components/responses/NewProfileTimestamp"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}},"delete":{"description":"Revoke roles from connected identity","tags":["Connections"],"requestBody":{"content":{"application/json":{"schema":{"properties":{"roles":{"type":"array","items":{"type":"string"}}},"required":["roles"]}}}},"parameters":[{"$ref":"#/components/parameters/connectionId"}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/connections/{connectionId}/features":{"post":{"description":"Assign features to connected identity","tags":["Connections"],"requestBody":{"content":{"application/json":{"schema":{"properties":{"features":{"description":"Values are limited to keys returned by `/orgs/current/features` endpoint","type":"array","items":{"type":"string"}}},"required":["features"]}}}},"parameters":[{"$ref":"#/components/parameters/connectionId"}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}},"delete":{"description":"Delete features from connected identity","tags":["Connections"],"requestBody":{"content":{"application/json":{"schema":{"properties":{"features":{"description":"Values are limited to keys returned by `/orgs/current/features` endpoint","type":"array","items":{"type":"string"}}},"required":["features"]}}}},"parameters":[{"$ref":"#/components/parameters/connectionId"}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/connections/{connectionId}/profile":{"patch":{"description":"Modify connected identity profile","tags":["Connections"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionProfileUpdatePayload"}}}},"parameters":[{"$ref":"#/components/parameters/connectionId"}],"responses":{"200":{"description":"HTTP 200 - Profile modification successful","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"lastModified":{"type":"number","description":"If profile was modified, contains new `lastModifed` timestamp"}},"required":["id"]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/connections/{connectionId}/assets":{"get":{"description":"List connected identity assets","tags":["Connections","Assets"],"parameters":[{"$ref":"#/components/parameters/connectionId"}],"responses":{"200":{"description":"A list of connection assets","content":{"application/json":{"schema":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/Asset"},{"$ref":"#/components/schemas/ScimResourceMetadata"}]}}}}},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/connections/{connectionId}/dependents":{"post":{"description":"Add connected identity household member. This effectively creates a connection between two users and sets \"parent\" role to the head","tags":["Connections"],"requestBody":{"content":{"application/json":{"schema":{"properties":{"memberId":{"type":"string","description":"userId (UUID) or verified email or verified phone number of household member candidate"}},"required":["memberId"]}}}},"parameters":[{"$ref":"#/components/parameters/connectionId"}],"responses":{"201":{"description":"HTTP 201 - Created \nHousehold member successfully added","headers":{"Location":{"schema":{"type":"string"},"description":"Url of the created entity"}}},"204":{"description":"HTTP 204 - No Content \nNo action taken. Identity is already a member of given household "},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"422":{"description":"HTTP 422 - Unprocessable Request \nOne of given identities already has membership in a different household"}}},"delete":{"description":"Remove connected identity household member. Revokes \"parent\" role on member's connection to the head","tags":["Connections"],"requestBody":{"content":{"application/json":{"schema":{"properties":{"memberId":{"type":"string","description":"userId (UUID) or verified email or verified phone number of household member candidate"}},"required":["memberId"]}}}},"parameters":[{"$ref":"#/components/parameters/connectionId"}],"responses":{"200":{"description":"HTTP 200 - OK \nHousehold member successfully removed"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"description":"HTTP 404 - Not Found \nIdentity is not a member of given household"},"422":{"description":"HTTP 422 - Unprocessable Request \nOne of given identities already has membership in a different household"}}}},"/connections/{connectionId}/destinations":{"get":{"description":"List available payment destinations for the connection","tags":["Connections"],"parameters":[{"$ref":"#/components/parameters/connectionId"},{"in":"query","name":"claimableAsset","schema":{"type":"string"},"description":"a true/false flag to indicate if claimable asset providers is returned"},{"in":"query","name":"monetaryAsset","schema":{"type":"string"},"description":"a true/false flag to indicate if monetary providers is returned"}],"responses":{"200":{"description":"A list of connection available payment destinations for the connection","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"provider":{"type":"string","enum":["banqu-agency"]}},"required":["id","name","provider"]},{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string"},"fees":{"type":"array","items":{"type":"object","properties":{"max":{"type":"number"},"add":{"type":"number"}}}},"error":{"type":"string"},"type":{"type":"string","enum":["mobile"]},"currency":{"type":"string"},"provider":{"type":"string","enum":["mtn-uganda","6dot50pay-zaf","mtn-zambia","tigo-tanzania","celbux-zaf","airtel","zamtel","vodacom"]}},"required":["name","id","type","currency","provider"]}]}}}},"401":{"$ref":"#/components/responses/401"}}}},"/assets":{"get":{"description":"List assets","tags":["Assets"],"parameters":[{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/SortBy"},{"$ref":"#/components/parameters/Search"},{"in":"query","name":"categories","schema":{"type":"string"},"description":"a comma-separated list of category ids to filter resulting set"},{"in":"query","name":"noCategories","schema":{"type":"string"},"description":"a true/false flag to indicate an empty list of categories"},{"in":"query","name":"showArchived","schema":{"type":"string"},"description":"a true/false flag to indicate archived assets should be added to the response. Default is 'false'"},{"in":"query","name":"showHidden","schema":{"type":"string"},"description":"a true/false flag to indicate hidden assets should be added to the response. Default is 'false'"}],"responses":{"200":{"description":"A list of assets","content":{"application/json":{"schema":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/Asset"},{"$ref":"#/components/schemas/ScimResourceMetadata"}]}}}}},"401":{"$ref":"#/components/responses/401"}}},"post":{"description":"Register asset","tags":["Assets"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Asset"}}}},"responses":{"201":{"$ref":"#/components/responses/201"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/assets/{assetId}":{"parameters":[{"in":"path","name":"assetId","schema":{"type":"string"},"required":true}],"get":{"description":"Get asset details","tags":["Assets"],"responses":{"200":{"description":"Asset details","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Asset"},{"$ref":"#/components/schemas/ScimResourceMetadata"}]}}}},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}},"patch":{"description":"Update asset details","tags":["Assets"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Asset"}}}},"responses":{"204":{"description":"Ok"}}},"delete":{"description":"Archive asset","tags":["Assets"],"responses":{"204":{"$ref":"#/components/responses/204"},"401":{"$ref":"#/components/responses/401"},"403":{"description":"Forbidden. Only owner account can archive or restore assets"},"404":{"$ref":"#/components/responses/404"},"422":{"description":"Unprocessable request. Asset is already archived"}}}},"/assets/{assetId}/transfers":{"post":{"description":"Initiate asset transfer","tags":["Asset Transfers"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetTransferRequest"}}}},"parameters":[{"in":"path","name":"assetId","schema":{"type":"string"},"required":true}],"responses":{"201":{"$ref":"#/components/responses/201"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/assets/{assetId}/history":{"get":{"description":"Get asset history","tags":["Asset Transfers"],"parameters":[{"in":"path","name":"assetId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"List of asset history records","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssetHistory"}}}}},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/assets/{assetId}/holders":{"parameters":[{"in":"path","name":"assetId","schema":{"type":"string"},"required":true}],"get":{"description":"List asset holders","tags":["Asset Transfers"],"responses":{"200":{"description":"List of asset holders","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssetHolder"}}}}},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}},"post":{"description":"Deposit asset to account","tags":["Asset Transfers"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositAssetRequest"}}}},"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/assets/{assetId}/sources":{"parameters":[{"in":"path","name":"assetId","schema":{"type":"string"},"required":true}],"get":{"description":"List operations that can be used as sources for transfers of this asset","tags":["Asset Transfers"],"parameters":[{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"},{"name":"sortBy","in":"query","schema":{"type":"string"},"description":"Comma-separated list of fields to sort the collection by (i.e. \"status:asc,created:desc\"; if not specified, will be sorted by transfer date)","required":false},{"$ref":"#/components/parameters/Search"},{"in":"query","name":"includeNonPositive","schema":{"type":"boolean","default":false},"description":"Include operations with zero or negative available quantity when double-sourcing is allowed"},{"in":"query","name":"filter","schema":{"type":"string"},"description":"Serialized (custom format) transfer properties filter"}],"responses":{"200":{"description":"List of available operations that can serve as sources","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AvailableOperationSource"}}}},"headers":{"X-Total-Count":{"schema":{"type":"number"},"description":"Total number of records available for paging purposes"},"X-Total-Before-Filter":{"schema":{"type":"number"},"description":"Total count before applying search or filters"}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/assets/{assetId}/restore":{"post":{"description":"Restore archived asset","tags":["Assets"],"parameters":[{"in":"path","name":"assetId","schema":{"type":"string"},"required":true}],"responses":{"204":{"$ref":"#/components/responses/204"},"401":{"$ref":"#/components/responses/401"},"403":{"description":"Forbidden. Only owner account can archive or restore assets"},"404":{"$ref":"#/components/responses/404"},"422":{"description":"Unprocessable request. Asset is not archived"}}}},"/assets/{assetId}/transfers/batch":{"post":{"description":"Initiate multiple asset transfers","tags":["Asset Transfers"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewMultipleTransfer"}}}},"parameters":[{"in":"path","name":"assetId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"List of asset transactions","content":{"application/json":{"schema":{"type":"object","properties":{"initiated":{"type":"number"}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/assets/categories":{"get":{"description":"List asset categories","tags":["Asset Categories"],"responses":{"200":{"description":"List of asset categories","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssetCategory"}}}}},"401":{"$ref":"#/components/responses/401"}}},"post":{"description":"Create asset category","tags":["Asset Categories"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetCategory"}}}},"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"type":"string","description":"Created category ID"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/assets/categories/{categoryId}":{"delete":{"description":"Delete asset category","tags":["Asset Categories"],"parameters":[{"in":"path","name":"categoryId","schema":{"type":"string"},"required":true}],"responses":{"204":{"$ref":"#/components/responses/204"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/assets/shares":{"get":{"description":"List asset shares","tags":["Asset Sharing"],"responses":{"200":{"description":"List of asset and transfer shares","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetShareList"}}}},"401":{"$ref":"#/components/responses/401"}}},"post":{"description":"Create asset share","tags":["Asset Sharing"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewAssetShare"}}}},"responses":{"201":{"$ref":"#/components/responses/201"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/assets/shares/{shareId}":{"parameters":[{"in":"path","name":"shareId","schema":{"type":"string"},"required":true}],"get":{"security":[],"description":"Get asset share details","tags":["Asset Sharing"],"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetShare"}}}},"404":{"$ref":"#/components/responses/404"}}},"delete":{"description":"Delete asset share","tags":["Asset Sharing"],"responses":{"204":{"$ref":"#/components/responses/204"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/assets/shares/{shareId}/transfers":{"get":{"security":[],"description":"Get shared asset history","tags":["Asset Sharing"],"parameters":[{"in":"path","name":"shareId","schema":{"type":"string"},"required":true},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/SortBy"},{"name":"since","description":"Get transfer after specific time. The value should contain a valid JavaScript Timestamp","in":"query","schema":{"type":"number"},"required":false},{"name":"till","description":"Get transfer before specific time. The value should contain a valid JavaScript Timestamp","in":"query","schema":{"type":"number"},"required":false},{"name":"sourcesGroupingMethod","in":"query","schema":{"type":"string","enum":["precise","fifo"]}}],"responses":{"200":{"description":"List of transfers between date ranges","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssetShareTransfer"}}}}},"404":{"$ref":"#/components/responses/404"}}}},"/assets/shares/{shareId}/transfers/{transferId}":{"get":{"security":[],"description":"Get shared asset transfer details","tags":["Asset Sharing"],"parameters":[{"in":"path","name":"shareId","schema":{"type":"string"},"required":true},{"in":"path","name":"transferId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Transfer details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnyAssetOperation"}}}},"404":{"$ref":"#/components/responses/404"}}}},"/assets/shares/{shareId}/transfers/{transferId}/sources":{"get":{"security":[],"description":"List shared asset transfer sources","tags":["Asset Sharing"],"parameters":[{"in":"path","name":"shareId","schema":{"type":"string"},"required":true},{"in":"path","name":"transferId","schema":{"type":"string"},"required":true},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/SortBy"},{"name":"sourcesGroupingMethod","in":"query","schema":{"type":"string","enum":["precise","fifo"]}}],"responses":{"200":{"description":"List of transfers that provided an amount of asset that was transferred in given transfer","content":{"application/json":{"schema":{"type":"array","title":"Transfers","items":{"$ref":"#/components/schemas/AnyAssetOperation"}}}}},"404":{"$ref":"#/components/responses/404"}}}},"/assets/shares/{shareId}/transfers/{transferId}/form":{"get":{"security":[],"description":"Get shared asset transfer properties form","tags":["Asset Sharing"],"parameters":[{"in":"path","name":"shareId","schema":{"type":"string"},"required":true},{"in":"path","name":"transferId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Transfer properties form","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Form"}}}},"404":{"$ref":"#/components/responses/404"}}}},"/assets/transformations":{"post":{"description":"Transform asset(s) into another asset(s)","tags":["Asset Transformations"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransformAssetRequest"}}}},"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/payment-adjustments":{"get":{"description":"Get payment adjustments","tags":["Payment Adjustments"],"parameters":[{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/SortBy"},{"in":"query","name":"archived","schema":{"type":"string","enum":["1","0"]},"description":"a 1/0 flag to indicate archived payment adjustments. Default is '0'."}],"responses":{"200":{"description":"A list of payment adjustments","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentAdjustmentList"}}}}},"401":{"$ref":"#/components/responses/401"}}},"post":{"description":"Register payment adjustment","tags":["Payment Adjustments"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentAdjustment"}}}},"responses":{"201":{"$ref":"#/components/responses/201"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/payment-adjustments/{paymentAdjustmentId}":{"parameters":[{"name":"paymentAdjustmentId","description":"Unique id of a payment adjustment","in":"path","schema":{"type":"string"},"required":true}],"get":{"description":"Get a payment adjustment by id","tags":["Payment Adjustments"],"responses":{"200":{"description":"Payment adjustment model","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaymentAdjustment"},{"$ref":"#/components/schemas/ScimResourceMetadata"}]}}}},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}},"put":{"description":"Modify a payment adjustment","tags":["Payment Adjustments"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentAdjustment"}}}},"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"description":"Restore a payment adjustment","tags":["Payment Adjustments"],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"delete":{"description":"Archive a payment adjustment","tags":["Payment Adjustments"],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/transactions":{"get":{"description":"List own transactions","tags":["Asset Transactions"],"parameters":[{"$ref":"#/components/parameters/AssetCodes"},{"$ref":"#/components/parameters/TransactionKind"},{"name":"owner","in":"query","schema":{"type":"string","enum":["own","sub","any"]},"description":"Filter transactions by owner. One of [me, sub] for own and sub account transactions. If omitted, not filtered by owner"},{"name":"accountIds","in":"query","schema":{"type":"string"},"description":"Filter transactions by other party accountId. Comma-separated list"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/SortBy"}],"responses":{"200":{"description":"List of transactions","content":{"application/json":{"schema":{"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}},"codes":{"type":"array","items":{"type":"string"}},"totalCount":{"type":"number"}}}}},"headers":{"X-Total-Count":{"schema":{"type":"number"},"description":"Total number of records available for paging purposes"}}},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}},"post":{"description":"Initiate transaction","tags":["Asset Transactions"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTransactionRequest"}}}},"responses":{"201":{"$ref":"#/components/responses/201"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}}},"/transactions/{transactionId}/finalize":{"post":{"description":"Process draft payments","tags":["Asset Transactions"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinalizeDraftTransactionRequest"}}}},"parameters":[{"in":"path","name":"transactionId","schema":{"type":"string"},"required":true}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}}},"/transactions/{transactionId}":{"get":{"description":"Get transaction details","tags":["Asset Transactions"],"parameters":[{"in":"path","name":"transactionId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Transaction details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangeTransaction"}}}},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}},"delete":{"description":"Revert transaction","tags":["Asset Transactions"],"parameters":[{"in":"path","name":"transactionId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RevertTransaction"}}}},"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/transactions/{transactionId}/operations":{"get":{"description":"List transaction operations.","tags":["Asset Transactions"],"parameters":[{"in":"path","name":"transactionId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"List of asset operations: transfers, deposits, transformations and transformation results","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AnyAssetOperation"}}}}},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/transactions/{transactionId}/operations/{operationId}/history":{"get":{"description":"Get visible chain of custody for the requested transaction","tags":["Asset Transactions"],"parameters":[{"in":"path","name":"transactionId","schema":{"type":"string"},"required":true},{"in":"path","name":"operationId","schema":{"type":"string"},"required":true},{"in":"query","name":"timeout","schema":{"type":"number","minimum":1,"maximum":3600000}},{"in":"query","name":"format","schema":{"type":"string","enum":["xlsx"]}},{"in":"query","name":"theme","schema":{"$ref":"#/components/schemas/ExcelTableTheme"}}],"responses":{"200":{"description":"List of asset operations: transfers, deposits, transformations and transformation results","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChainedOperation"}}}}},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/transactions/{transactionId}/operations/{operationId}/history/schema":{"get":{"description":"Get JSON schema for operations from chain of custody for the requested transaction","tags":["Asset Transactions"],"parameters":[{"in":"path","name":"transactionId","schema":{"type":"string"},"required":true},{"in":"path","name":"operationId","schema":{"type":"string"},"required":true},{"in":"query","name":"format","schema":{"type":"string","enum":["xlsx"]}}],"responses":{"200":{"description":"JSON schema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonSchema"}}}},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/transactions/{transactionId}/history":{"get":{"description":"Get visible chain of custody for the requested transaction","tags":["Asset Transactions"],"parameters":[{"in":"path","name":"transactionId","schema":{"type":"string"},"required":true},{"in":"query","name":"timeout","schema":{"type":"number","minimum":1,"maximum":3600000}},{"in":"query","name":"format","schema":{"type":"string","enum":["xlsx"]}}],"responses":{"200":{"description":"List of asset operations: transfers, deposits, transformations and transformation results","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChainedOperation"}}}}},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/transactions/{transactionId}/history/schema":{"get":{"description":"Get JSON schema for operations of chain of custody for the requested transaction","tags":["Asset Transactions"],"parameters":[{"in":"path","name":"transactionId","schema":{"type":"string"},"required":true},{"in":"query","name":"format","schema":{"type":"string","enum":["xlsx"]}}],"responses":{"200":{"description":"JSON schema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonSchema"}}}},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/transactions/batch":{"post":{"description":"Initiate batch transaction","tags":["Asset Transactions"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBatchTransactionRequest"}}}},"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}}},"/transfers":{"get":{"description":"List asset transfers","tags":["Asset Transfers"],"parameters":[{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/SortBy"},{"name":"owner","in":"query","schema":{"type":"string","enum":["own","sub","any"]},"description":"Filter transfers by owner. One of [me, sub] for own and sub account transfers. If omitted, not filtered by owner"},{"name":"assetId","in":"query","description":"Filter transfers by one `assetId`. Cannot be specified together with `assetIds` param","schema":{"type":"string"},"required":false},{"name":"assetIds","description":"Filter transfers by one or multiple `assetId`'s. Multiple assetId values should be separated by commas. Cannot be specified together with `assetId` param","in":"query","schema":{"type":"string"},"required":false},{"name":"since","description":"Get transfer after specific time. The value should contain a valid JavaScript Timestamp","in":"query","schema":{"type":"number"},"required":false},{"name":"till","description":"Get transfer before specific time. The value should contain a valid JavaScript Timestamp","in":"query","schema":{"type":"number"},"required":false},{"name":"accountIds","description":"Filter transfers by one or multiple `accountId`'s. Multiple accountId values should be separated by commas","in":"query","schema":{"type":"string"},"required":false},{"name":"includeReverted","description":"Include reverted transfers in output. Defaults to `false`","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"sourcesGroupingMethod","in":"query","schema":{"type":"string","enum":["precise","fifo"]}},{"$ref":"#/components/parameters/AssetCodes"},{"$ref":"#/components/parameters/TransactionKind"}],"responses":{"200":{"description":"List of account transfers","content":{"application/json":{"schema":{"type":"array","title":"Transfers","items":{"$ref":"#/components/schemas/AnyAssetOperation"}}}},"headers":{"X-Total-Count":{"schema":{"type":"number"},"description":"Total number of records available for paging purposes"}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/transfers/{transferId}":{"get":{"description":"Get asset operation by id in own account","tags":["Asset Transfers"],"parameters":[{"name":"transferId","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Asset operation details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnyAssetOperation"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/transfers/{transferId}/sources":{"get":{"description":"List asset transfer sources","tags":["Asset Transfers"],"parameters":[{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/SortBy"},{"name":"participantsType","in":"query","schema":{"type":"string","enum":["all","last"],"default":"all"},"required":false},{"name":"transferId","in":"path","schema":{"type":"string"},"required":true},{"name":"sourcesGroupingMethod","in":"query","schema":{"type":"string","enum":["precise","fifo"]}}],"responses":{"200":{"description":"List of transfers that provided an amount of asset that was transferred in given transfer","content":{"application/json":{"schema":{"type":"array","title":"Transfers","items":{"$ref":"#/components/schemas/AnyAssetOperation"}}}},"headers":{"X-Total-Count":{"schema":{"type":"number"},"description":"Total number of records available for paging purposes"}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/transfers/{transferId}/confirmReceipt":{"post":{"description":"Confirm transfer receiving","tags":["Asset Transfers"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfirmTransferReceipt"}}}},"parameters":[{"in":"path","name":"transferId","schema":{"type":"string"},"required":true}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/transfers/{transferId}/rejectReceipt":{"post":{"description":"Reject transfer receiving","tags":["Asset Transfers"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectTransferReceipt"}}}},"parameters":[{"in":"path","name":"transferId","schema":{"type":"string"},"required":true}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/transfers/{transferId}/resendClaimToken":{"post":{"description":"Resend claim token for pending transfer","tags":["Asset Transfers"],"parameters":[{"in":"path","name":"transferId","schema":{"type":"string"},"required":true}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"},"422":{"$ref":"#/components/responses/422"}}}},"/agent/transfers/incomplete/claim":{"post":{"description":"Re-issue transfer claim token","tags":["Asset Transfer Claiming"],"requestBody":{"content":{"application/json":{"schema":{"properties":{"identificationNumber":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"}}}}}},"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ClaimedTransfer"},{"type":"object","properties":{"claimToken":{"type":"string"}}}]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/agent/transfers/{claimToken}/claim":{"post":{"description":"Issue transfer finalization token. Requires at least two input parameters: claim token and at least one of ids of receiver","tags":["Asset Transfer Claiming"],"requestBody":{"content":{"application/json":{"schema":{"properties":{"identificationNumber":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"}}}}}},"parameters":[{"in":"path","name":"claimToken","schema":{"type":"string"},"required":true}],"responses":{"204":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClaimedTransfer"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/agent/transfers/{claimToken}/finalize":{"post":{"description":"Finalize transfer","tags":["Asset Transfer Claiming"],"parameters":[{"in":"path","name":"claimToken","schema":{"type":"string"},"required":true}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/forms":{"get":{"description":"List forms","tags":["Forms"],"parameters":[{"name":"status","in":"query","schema":{"type":"string","enum":["own","shared","archived"]},"required":false}],"responses":{"200":{"description":"All forms available in a current account, including ones shared from connected accounts","content":{"application/json":{"schema":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/FormDto"},{"$ref":"#/components/schemas/ScimResourceMetadata"}]}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"post":{"description":"Create form","tags":["Forms"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Form"}}}},"responses":{"201":{"$ref":"#/components/responses/201"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}}},"/forms/{formId}":{"get":{"description":"Get form details","tags":["Forms"],"parameters":[{"name":"formId","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Form"},{"$ref":"#/components/schemas/ScimResourceMetadata"}]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}},"patch":{"description":"Modify form","tags":["Forms"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Form"}}},"required":true},"parameters":[{"name":"formId","in":"path","schema":{"type":"string"},"required":true}],"responses":{"204":{"$ref":"#/components/responses/204"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}},"delete":{"description":"Archive form","tags":["Forms"],"parameters":[{"name":"formId","in":"path","schema":{"type":"string"},"required":true}],"responses":{"204":{"$ref":"#/components/responses/204"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}}},"/forms/fragments":{"get":{"description":"List available form fragments","tags":["Forms"],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/FormDto"},{"$ref":"#/components/schemas/ScimResourceMetadata"}]}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/forms/{formId}/editable":{"get":{"description":"Get not composed form details for editing. Includes fragment references rather than their fields","tags":["Forms"],"parameters":[{"name":"formId","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Form"},{"$ref":"#/components/schemas/ScimResourceMetadata"}]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/forms/{formId}/restore":{"post":{"description":"Restore archived form","tags":["Forms"],"parameters":[{"name":"formId","in":"path","schema":{"type":"string"},"required":true}],"responses":{"204":{"$ref":"#/components/responses/204"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"422":{"$ref":"#/components/responses/422"}}}},"/forms/{formId}/assign":{"post":{"description":"Request form data entry from connected identity","tags":["Forms"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"assigneeId":{"type":"string","description":"ID of a connected User or Org"}},"required":["assigneeId"]}}}},"parameters":[{"name":"formId","in":"path","schema":{"type":"string"},"required":true}],"responses":{"201":{"$ref":"#/components/responses/201"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}}},"/forms/{formId}/data-entries":{"get":{"description":"List form data entries","tags":["Form Data Entries"],"parameters":[{"$ref":"#/components/parameters/formIdOrAll"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/SortBy"},{"$ref":"#/components/parameters/Search"},{"name":"status","in":"query","schema":{"type":"string","enum":["all","pending","submitted","reviewed","rejected","approved","denied","archived"]},"description":"Data entry status filter. One or more statuses separated by comma.","required":false}],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FormDataEntry"}}}}},"401":{"$ref":"#/components/responses/401"}}},"post":{"description":"Create form data entry","tags":["Form Data Entries"],"parameters":[{"$ref":"#/components/parameters/formIdOrAll"},{"$ref":"#/components/parameters/preventNotify"},{"name":"submitAfterCreation","in":"query","schema":{"type":"boolean"},"required":false,"description":"If `true` the data entry will be submitted after it's created"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormData"}}}},"responses":{"201":{"$ref":"#/components/responses/201"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}}},"/forms/{formId}/data-entries/{entryId}":{"get":{"description":"Get form data entry data","tags":["Form Data Entries"],"parameters":[{"$ref":"#/components/parameters/formIdOrAll"},{"$ref":"#/components/parameters/entryIdOrPrimaryKey"}],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormData"}}}},"400":{"$ref":"#/components/responses/400"}}},"patch":{"description":"Modify form data entry","tags":["Form Data Entries"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormData"}}}},"parameters":[{"name":"lastModified","in":"query","schema":{"type":"number"},"required":false},{"name":"allowDuplicates","in":"query","schema":{"type":"string","enum":["true","false"]},"required":false},{"$ref":"#/components/parameters/formIdOrAll"},{"$ref":"#/components/parameters/entryIdOrPrimaryKey"},{"$ref":"#/components/parameters/preventNotify"}],"responses":{"200":{"description":"HTTP 200 - OK. Request is valid but result of patch is no-op. Content of response contains a message about this effect"},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"422":{"$ref":"#/components/responses/422"}}},"delete":{"description":"Archive form data entry","tags":["Form Data Entries"],"parameters":[{"$ref":"#/components/parameters/formIdOrAll"},{"$ref":"#/components/parameters/entryIdOrPrimaryKey"},{"$ref":"#/components/parameters/preventNotify"}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}}},"/forms/{formId}/data-entries/{entryId}/duplicate":{"post":{"description":"Duplicate existing data entry","tags":["Form Data Entries"],"parameters":[{"$ref":"#/components/parameters/formIdOrAll"},{"$ref":"#/components/parameters/entryIdOrPrimaryKey"},{"$ref":"#/components/parameters/preventNotify"}],"responses":{"201":{"$ref":"#/components/responses/201"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}}},"/forms/{formId}/data-entries/{entryId}/submit":{"post":{"description":"Submit data entry to form owner","tags":["Form Data Entries"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormData"}}}},"parameters":[{"name":"lastModified","in":"query","schema":{"type":"number"},"required":false},{"$ref":"#/components/parameters/formIdOrAll"},{"$ref":"#/components/parameters/entryIdOrPrimaryKey"},{"$ref":"#/components/parameters/preventNotify"}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}}},"/forms/{formId}/data-entries/{entryId}/review":{"post":{"description":"Mark submitted data entry as reviewed","tags":["Form Data Entries"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewDataEntry"}}}},"parameters":[{"$ref":"#/components/parameters/formIdOrAll"},{"$ref":"#/components/parameters/entryIdOrPrimaryKey"},{"$ref":"#/components/parameters/preventNotify"}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"}}}},"/forms/{formId}/data-entries/{entryId}/withdraw":{"post":{"description":"Withdraw the submitted data entry","tags":["Form Data Entries"],"parameters":[{"$ref":"#/components/parameters/formIdOrAll"},{"$ref":"#/components/parameters/entryIdOrPrimaryKey"},{"$ref":"#/components/parameters/preventNotify"}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"}}}},"/forms/{formId}/data-entries/{entryId}/responders":{"post":{"description":"Add data entry responders","tags":["Form Data Entries"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddFormDataResponders"}}}},"parameters":[{"$ref":"#/components/parameters/formIdOrAll"},{"$ref":"#/components/parameters/entryIdOrPrimaryKey"},{"$ref":"#/components/parameters/preventNotify"}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"422":{"$ref":"#/components/responses/422"}}},"put":{"description":"Replace data entry responders","tags":["Form Data Entries"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplaceFormDataResponders"}}}},"parameters":[{"$ref":"#/components/parameters/formIdOrAll"},{"$ref":"#/components/parameters/entryIdOrPrimaryKey"},{"$ref":"#/components/parameters/preventNotify"}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"422":{"$ref":"#/components/responses/422"}}}},"/forms/{formId}/data-entries/{entryId}/responders/{responderId}":{"delete":{"description":"Remove a responder from the data entry by Id","tags":["Form Data Entries"],"parameters":[{"$ref":"#/components/parameters/formIdOrAll"},{"$ref":"#/components/parameters/entryIdOrPrimaryKey"},{"name":"responderId","in":"path","schema":{"$ref":"#/components/schemas/Id"},"required":true,"description":"Responder Id"},{"$ref":"#/components/parameters/preventNotify"}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}}},"/forms/{formId}/data-entries/{entryId}/reject":{"post":{"description":"Reject submitted form data entry back to editor","tags":["Form Data Entries"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectFormData"}}}},"parameters":[{"$ref":"#/components/parameters/formIdOrAll"},{"$ref":"#/components/parameters/entryIdOrPrimaryKey"},{"$ref":"#/components/parameters/preventNotify"}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}}},"/forms/{formId}/data-entries/{entryId}/approval":{"post":{"description":"Mark submitted data entry as approved","tags":["Form Data Entries"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApproveDataEntry"}}}},"parameters":[{"$ref":"#/components/parameters/formIdOrAll"},{"$ref":"#/components/parameters/entryIdOrPrimaryKey"},{"$ref":"#/components/parameters/preventNotify"}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}},"delete":{"description":"Revoke approval of a form data entry","tags":["Form Data Entries"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RevokeDataEntryApproval"}}}},"parameters":[{"$ref":"#/components/parameters/formIdOrAll"},{"$ref":"#/components/parameters/entryIdOrPrimaryKey"},{"$ref":"#/components/parameters/preventNotify"}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}}},"/forms/{formId}/data-entries/{entryId}/denial":{"post":{"description":"Deny form data entry, which means no more re-submissions will be allowed (aka permanent reject)","tags":["Form Data Entries"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DenyDataEntry"}}}},"parameters":[{"$ref":"#/components/parameters/formIdOrAll"},{"$ref":"#/components/parameters/entryIdOrPrimaryKey"},{"$ref":"#/components/parameters/preventNotify"}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}},"delete":{"description":"Revoke denial of a form data entry","tags":["Form Data Entries"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RevokeDataEntryDenial"}}}},"parameters":[{"$ref":"#/components/parameters/formIdOrAll"},{"$ref":"#/components/parameters/entryIdOrPrimaryKey"},{"$ref":"#/components/parameters/preventNotify"}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}}},"/forms/{formId}/data-entries/{entryId}/restore":{"post":{"description":"Restore data entry that was previously archived","tags":["Form Data Entries"],"parameters":[{"$ref":"#/components/parameters/formIdOrAll"},{"$ref":"#/components/parameters/entryIdOrPrimaryKey"},{"$ref":"#/components/parameters/preventNotify"}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}}},"/smart-contracts":{"get":{"description":"List smart contracts","tags":["Smart Contracts"],"responses":{"200":{"description":"list of account's smart contracts","content":{"application/json":{"schema":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/SmartContract"},{"type":"object","properties":{"description":{"type":"string"}}},{"$ref":"#/components/schemas/ScimResourceMetadata"}]}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}},"post":{"description":"Create smart contract","tags":["Smart Contracts"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartContract"}}}},"responses":{"201":{"$ref":"#/components/responses/201"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}}},"/smart-contracts/{contractId}":{"parameters":[{"name":"contractId","description":"Smart contract identifier","in":"path","schema":{"type":"string"},"required":true}],"get":{"description":"Get smart contract details","tags":["Smart Contracts"],"responses":{"200":{"description":"Smart contract details","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SmartContract"},{"$ref":"#/components/schemas/ScimResourceMetadata"}]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}},"put":{"description":"Update smart contract","tags":["Smart Contracts"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartContract"}}}},"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"422":{"$ref":"#/components/responses/422"}}},"delete":{"description":"Deactivate smart contract","tags":["Smart Contracts"],"responses":{"204":{"$ref":"#/components/responses/204"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"422":{"$ref":"#/components/responses/422"}}}},"/smart-contracts/{contractId}/history":{"parameters":[{"name":"contractId","description":"Smart contract identifier","in":"path","schema":{"type":"string"},"required":true}],"get":{"description":"Get smart contract execution history","tags":["Smart Contracts"],"responses":{"200":{"description":"Smart contract execution history","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"state":{"type":"string","enum":["running","canceled","complete","failed"]},"steps":{"type":"array","items":{"type":"object","properties":{"at":{"$ref":"#/components/schemas/Timestamp"},"type":{"type":"string","enum":["running","canceled","complete","failed"]},"message":{"type":"string"}},"additionalProperties":false,"required":["at","type"]}}},"additionalProperties":false,"required":["id","state","steps"]}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}}},"/smart-contracts/{contractId}/restore":{"parameters":[{"name":"contractId","description":"Smart contract identifier","in":"path","schema":{"type":"string"},"required":true}],"post":{"description":"Reactivate smart contract","tags":["Smart Contracts"],"responses":{"204":{"$ref":"#/components/responses/204"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"422":{"$ref":"#/components/responses/422"}}}},"/smart-contracts/triggers":{"get":{"description":"Get available triggers","tags":["Smart Contracts"],"responses":{"200":{"description":"List of available triggers","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SmartContractTrigger"}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}}},"/smart-contracts/triggers/{triggerId}":{"parameters":[{"name":"triggerId","description":"Trigger identifier","in":"path","schema":{"type":"string"},"required":true}],"get":{"description":"Get trigger details","tags":["Smart Contracts"],"responses":{"200":{"description":"Trigger details","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SmartContractTrigger"},{"type":"object","properties":{"schema":{"$ref":"#/components/schemas/JsonSchema"},"sample":{"type":"object","additionalProperties":true},"authenticationRequired":{"description":"Indicates if the trigger is being invoked in a different account context and a smart contract authentication token is required","type":"boolean"}},"additionalProperties":false}]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}}},"/smart-contracts/actions":{"get":{"description":"List available actions","tags":["Smart Contracts"],"parameters":[{"name":"type","description":"Optional Action type filter","in":"query","schema":{"type":"string","enum":["read","write"]}}],"responses":{"200":{"description":"List of actions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartContractAction"}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}}},"/smart-contracts/actions/{actionId}":{"parameters":[{"name":"actionId","description":"Smart contract action identifier","in":"path","schema":{"type":"string"},"required":true}],"get":{"description":"Get smart contract action details","tags":["Smart Contracts"],"responses":{"200":{"description":"Smart contract action details","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SmartContractAction"},{"type":"object","properties":{"schema":{"$ref":"#/components/schemas/JsonSchema"},"sample":{"type":"object","additionalProperties":true},"mappingTemplate":{"$ref":"#/components/schemas/Mapping"}},"additionalProperties":false}]}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}}},"/data-processors":{"get":{"description":"List data processors","tags":["Data Processors"],"responses":{"200":{"description":"list of account's data processors","content":{"application/json":{"schema":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/DataProcessor"},{"$ref":"#/components/schemas/ScimResourceMetadata"}]}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}},"post":{"description":"Create data processor","tags":["Data Processors"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataProcessor"}}}},"responses":{"201":{"$ref":"#/components/responses/201"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}}},"/data-processors/{processorId}":{"parameters":[{"name":"processorId","description":"Data processor identifier","in":"path","schema":{"type":"string"},"required":true}],"get":{"description":"Get data processor details","tags":["Data Processors"],"responses":{"200":{"description":"Data processor details","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/DataProcessor"},{"$ref":"#/components/schemas/ScimResourceMetadata"}]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}},"put":{"description":"Update data processor","tags":["Data Processors"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataProcessor"}}}},"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"422":{"$ref":"#/components/responses/422"}}},"delete":{"description":"Archive data processor","tags":["Data Processors"],"responses":{"204":{"$ref":"#/components/responses/204"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"422":{"$ref":"#/components/responses/422"}}}},"/data-processors/{processorId}/restore":{"parameters":[{"name":"processorId","description":"Data processor identifier","in":"path","schema":{"type":"string"},"required":true}],"post":{"description":"Restore data processor","tags":["Data Processors"],"responses":{"204":{"$ref":"#/components/responses/204"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"422":{"$ref":"#/components/responses/422"}}}},"/data-processors/{processorId}/validate":{"parameters":[{"name":"processorId","description":"Data processor identifier","in":"path","schema":{"type":"string"},"required":true}],"post":{"description":"Validate file","tags":["Data Processors"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"s3FileKey":{"type":"string","description":"Amazon S3 File Key"}},"additionalProperties":false,"required":["s3FileKey"]}}}},"responses":{"200":{"description":"Validation Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataProcessorResult"}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"422":{"$ref":"#/components/responses/422"}}}},"/data-processors/{processorId}/process":{"parameters":[{"name":"processorId","description":"Data processor identifier","in":"path","schema":{"type":"string"},"required":true}],"post":{"description":"Import and process file","tags":["Data Processors"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"s3FileKey":{"type":"string","description":"Amazon S3 File Key"},"offset":{"type":"number","description":"The input offset"}},"additionalProperties":false,"required":["s3FileKey"]}}}},"responses":{"200":{"description":"Validation Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataProcessorResult"}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"422":{"$ref":"#/components/responses/422"}}}},"/data-processors/{processorId}/stop":{"parameters":[{"name":"processorId","description":"Data processor identifier","in":"path","schema":{"type":"string"},"required":true}],"post":{"description":"Stop processing file","tags":["Data Processors"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"s3FileKey":{"type":"string","description":"Amazon S3 File Key"}},"additionalProperties":false,"required":["s3FileKey"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"stopped":{"type":"boolean"}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"422":{"$ref":"#/components/responses/422"}}}},"/validation-workflows":{"get":{"description":"List validation workflows","tags":["Validation Workflows"],"responses":{"200":{"description":"list of account's validation workflows","content":{"application/json":{"schema":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/ValidationWorkflowSummary"},{"type":"object","properties":{"description":{"type":"string"}}},{"$ref":"#/components/schemas/ScimResourceMetadata"}]}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}},"post":{"description":"Create validation workflow","tags":["Validation Workflows"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationWorkflowDetails"}}}},"responses":{"201":{"$ref":"#/components/responses/201"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}}},"/validation-workflows/{workflowId}":{"parameters":[{"name":"workflowId","description":"Validation workflow identifier","in":"path","schema":{"type":"string"},"required":true}],"get":{"description":"Get validation workflow details","tags":["Validation Workflows"],"responses":{"200":{"description":"Validation workflow details","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ValidationWorkflowDetails"},{"$ref":"#/components/schemas/ScimResourceMetadata"}]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}},"put":{"description":"Update validation workflow","tags":["Validation Workflows"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationWorkflowDetails"}}}},"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"422":{"$ref":"#/components/responses/422"}}},"delete":{"description":"Deactivate validation workflow","tags":["Validation Workflows"],"responses":{"204":{"$ref":"#/components/responses/204"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"422":{"$ref":"#/components/responses/422"}}}},"/validation-workflows/{workflowId}/restore":{"parameters":[{"name":"workflowId","description":"Validation workflow identifier","in":"path","schema":{"type":"string"},"required":true}],"post":{"description":"Reactivate validation workflow","tags":["Validation Workflows"],"responses":{"204":{"$ref":"#/components/responses/204"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"422":{"$ref":"#/components/responses/422"}}}},"/aws/upload-url":{"get":{"tags":["Attachments"],"description":"Pre-signed URL","parameters":[{"name":"contentType","description":"type of content for file that is going to be uploaded","in":"query","schema":{"type":"string"},"required":true},{"name":"fileName","description":"fileName","in":"query","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"reSignedUrl Target url to upload user file","content":{"application/json":{"schema":{"type":"string"}}}},"401":{"$ref":"#/components/responses/401"}}}},"/notifications":{"get":{"security":[],"description":"Get User Notifications","tags":["Notifications"],"responses":{"200":{"description":"Notifications","content":{"application/json":{"schema":{"type":"object","properties":{"pendingShareRequests":{"type":"object","properties":{"approved":{"type":"boolean"},"photo":{"type":"string"},"expiresAt":{"type":"integer"},"id":{"type":"string"},"isReceiverOrg":{"type":"boolean"},"isSenderOrg":{"type":"boolean"},"name":{"type":"string"},"sections":{"type":"array","items":{"type":"string"}}}}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"}}}},"/tutorials":{"get":{"description":"List tutorials","tags":["Tutorials"],"parameters":[{"name":"invalidate","in":"query","schema":{"type":"string"},"description":"Passing any value will invalidate internal cache. Fresh data will be requested from tutorials definitions source."}],"responses":{"200":{"description":"List of available tutorials","content":{"application/json":{"schema":{"type":"array","items":{"properties":{"id":{"type":"string"},"name":{"$ref":"#/components/schemas/LocalizedString"},"permissions":{"type":"array","items":{"type":"array","items":{"type":"string"},"minItems"
[...]
